[2017-01-09 05:50] zeke opened #1 "What are your favorite redirects?"
Hi @sachinjain024. Thanks for creating this powerful extension. I just discovered it.

To better understand some possible uses of it, would you be willing to share some example rules, or even better: your exported list of rules? I am trying to imagine the various interesting ways this thing can be used. :)

Thanks, and keep up the good work.

:v:

[2017-01-09 11:05] sachinjain024 commented on #1
@zeke Thanks for asking this question! I usually get very users who try to explore the possibilities with Requestly. Others just seem to be happy after solving their particular use cases So I am really glad you asked this.

I can give you an idea how it can be used in various scenarios. I had the rules for them but its bit of difficult for me to find them out. Once you get an idea of rule creation

[2017-01-13 08:40] sachinjain024 commented on #1
@zeke Did I answer your question ? Let me know if you have any specific questions. I'd be glad to answer them.

[2017-01-13 18:43] zeke commented on #1
Yeah this is awesome. Sorry for not responding. Maybe you should put this stuff in the readme or the extension page for others to discover!

[2017-01-14 16:09] sachinjain024 commented on #1
@zeke Thanks for suggestion! I will publish this content soon on http://requestly.in/content/articles/

[2017-01-14 16:09] #1 closed

[2017-01-14 20:25] usproptrader opened #2 "Change two parts to one url"
So here it is.
Convert from

https://ca.finance.yahoo.com/q/ks?s=IBM/key-statistics?ltr=1
To

http://www.google.com/finance?q=IBM
have one key rule with 2 replacements
1st works ok
2nd to change
 /key-statistics?ltr=1"
To blank doesn't
So I get
 http://www.google.com/finance?q=IBM/key-statistics?ltr=1

[2017-01-15 06:44] sachinjain024 commented on #2
How about using this rule:

<img width="1144" alt="screenshot 2017-01-15 12 03 59" src="https://cloud.githubusercontent.com/assets/3108399/21960745/becc1cde-db1a-11e6-9036-7272ffed5299.png">

I have created a sharedList here with above rule: http://requestly.in/rules/#sharedList/1484462502829

Please open this link and click on ImportList and you should get the rule. If this does not work for you,

[2017-01-15 06:45] sachinjain024 commented on #2
One more thing, Can I have a look at your rule so that I can look into this bug ? Please paste screenshot of your rule here.

[2017-01-15 13:06] usproptrader commented on #2
Here it is

Regards
Malcolm Newton

On Jan 15, 2017 1:45 AM, "Sachin Jain" <notifications@github.com> wrote:

[2017-01-16 04:50] sachinjain024 commented on #2
@usproptrader Did the above change work for you ? And I cannot see any screenshot in your comment. Can you please paste it again ?

[2017-01-16 20:59] usproptrader commented on #2
will try tomorrow
![url](https://cloud.githubusercontent.com/assets/7141475/21998747/b3a7b026-dc04-11e6-9945-c54172678781.jpg)

[2017-01-16 21:12] usproptrader commented on #2
The app is sending this url
http://ca.finance.yahoo.com/q/ks?s=IBM
Chrome is redirecting to
https://ca.finance.yahoo.com/quote/IBM/key-statistics?ltr=1

I need it to be
https://www.google.com/finance?q=IBM

the new setup doesnt work probably because Chrome is redirecting

[2017-01-19 06:49] sachinjain024 commented on #2
@usproptrader When I created a rule with the above definition and then I opened

directly in the browser. It took me directly yo google finance IMB page. This is working as expected.

Which app you are using ?

[2017-01-19 19:34] usproptrader commented on #2
Sachin
Now it works great!
Did Not have match on wildcard option selected before thanks

regards
Malcolm Newton

On Thu, Jan 19, 2017 at 1:49 AM, Sachin Jain <notifications@github.com>
wrote:

[2017-01-22 12:08] sachinjain024 commented on #2
Thanks @usproptrader for confirmation. Closing this ticket.

[2017-01-22 12:08] #2 closed

[2017-03-05 06:01] isiahmeadows opened #3 "Memory leak..."

[2017-03-05 06:02] #3 closed

[2017-03-05 06:05] sachinjain024 commented on #3
@isiahmeadows We can discuss over this if there is anything you need to know.

[2017-03-05 06:34] isiahmeadows opened #4 "Memory leak..."
I noticed that this extension in Chrome, when left running in the background, slowly takes more and more memory, even when not blocking anything, and even when it's disabled. I'm pretty sure there's a memory leak in the code somewhere, considering in the span of a couple hours, it can leak as much as 70MB of memory.

[2017-03-05 06:35] isiahmeadows commented on #4
For such a simple tool conceptually, that's way too much memory.

[2017-03-05 06:36] isiahmeadows commented on #3
@sachinjain024 See #4. I submitted this too early, so I filed a new issue. Sorry about that.

[2017-03-07 04:25] harrysingh opened #5 "Requestly Modify header does not remove duplicate entries"
Some of the websites send smae header twice or with difference case.
We may handle such cases

Url: www3-ist-wcp.keurig.com

[2017-03-09 04:53] sachinjain024 commented on #4
@isiahmeadows Thanks for logging this. I'd definitely keep this in mind in my development and will often check for memory consumption by this.

How did you check the memory consumption? Did you use Chrome Task Manager? Here is a screenshot of my device.

<img width="893" alt="screenshot 2017-03-09 10 18 34" src="https://cloud.githubusercontent.com/assets/3108399/23736366/c9b1b274-04b1-11e7-93ec-35

[2017-03-09 04:55] sachinjain024 commented on #3
@isiahmeadows No problems. Glad to know you logged that.

[2017-03-09 14:54] isiahmeadows commented on #4
I did use Chrome's task manager. I didn't take a screenshot, though. It also takes several hours to get truly problematic (after ~10 hours, it usually hits about 300-400MB), so it's not something that quickly appears.

I would normally expect Requestly to stay near the bottom while not filtering anything, and slow memory leaks aren't easily caught.

Any idea where I could find the relevant source

[2017-03-10 19:18] DandyClubs opened #6 "not work firefix 52.0 x64"
yesterday i update firefox 52.0

requestly is not work.

[2017-03-11 05:55] sachinjain024 opened #7 "How to rewrite part of url"
Can the Extension replace only part of a URL? In the below example, I only need to change dev, test, and build.

Example:
orange.dev.net/
orange.test.net/
orange.build.net/

peach.dev.net/
peach.test.net/
peach.build.net/

I'm dealing with ~15 sites that follow the structure above.

Thx!

[2017-03-11 05:58] sachinjain024 commented on #7
Checkout this screenshot and you will understand how "Replace Rule" is perfect to solve your use case.
<img width="1146" alt="screenshot 2017-03-11 11 26 49" src="https://cloud.githubusercontent.com/assets/3108399/23821052/cb8c6e8e-064d-11e7-8958-0da336f66df0.png">

[2017-03-11 06:01] sachinjain024 commented on #6
Thanks @DandyClubs for logging this one. I will take a look at this today.

[2017-03-13 16:08] sachinjain024 commented on #6
Thanks @DandyClubs for logging this issue. I debugged the issue and asked a question on Mozilla discourse about the out of order of execution of content scripts -  https://discourse.mozilla-community.org/t/order-of-execution-of-content-scripts-in-mozilla-web-extension/14365

[2017-03-15 03:30] sachinjain024 commented on #6
There is a discussion on Mozilla discussion community, this might be a Firefox bug. I'll try to handle this on myself though.

[2017-03-15 05:29] sachinjain024 commented on #6
I have fixed this in v4.2.10. Please update your extension using these steps:
1. Go to about:addons
2. Check for updates

Closing this. Let me know if you face any issues. Thanks for reporting.

[2017-03-15 05:29] #6 closed

[2017-03-16 21:42] DandyClubs opened #8 "blogspot.com image not show with center image"
firefox 52.0 x64 and center image
https://greasyfork.org/en/scripts/110-center-image

https://4.bp.blogspot.com/-uNpXrGANwPs/WLDG9jnO2iI/AAAAAAAALPs/WDgHwA4ST4QXxPWe-LcYR0tHj6ORCjZ2gCLcB/s1600/MMR-AK032.jpeg

 image is no show

image is show when reload (f5)

chrome is fine but firefox need reload

only image is show when disable requestly 4.2.10 or disable center image script

[2017-03-17 05:01] sachinjain024 commented on #8
Thanks @DandyClubs for logging this. I will take a look at this soon.

[2017-03-23 09:10] wufeifei opened #9 "Can't modify response header"

[2017-03-23 12:59] sachinjain024 commented on #9
@wufeifei Just in case you are looking for modifications with Chrome dev tools, there is a bug in chrome dev tools due to which modifications is not visible. However, your modification should work if your filter criteria is correct.

If that is not the case, Please provide me other details so that I can look into it.

[2017-03-24 02:25] wufeifei commented on #9
Chrome Version: 57.0.2987.110 (64-bit)
OS Version: macOS 10.12.3

Request header can be added, modified and deleted, but the response header not work (also tried to set the url match, but also does not work).

Can you reproduce it on your computer?

![2017-03-24_10-18-34](https://cloud.githubusercontent.com/assets/1611552/24277944/91367f44-107b-11e7-8c6a-2a9702424554.png)
![2017-03-24_10-18-45](ht

[2017-03-24 06:34] sachinjain024 commented on #9
@wufeifei This is what I was talking about. Modification happens for response headers but is not visible in dev tools. This is chrome bug: https://bugs.chromium.org/p/chromium/issues/detail?id=258064

You can see all modifications for request headers in Dev tools but not for response headers.

[2017-03-24 07:16] wufeifei commented on #9
@sachinjain024 Solved, thank you very much!

[2017-03-24 07:16] #9 closed

[2017-04-04 10:34] sarathnair commented on #4
I have also experienced memory leak in program. I have set up some rules in requestly. These rules basically replace the URL. Every time I refresh my page I can see in Chrome's task manager that memory goes up and never comes down. For my application the requestly extension consumes additional 2MB memory in each page reload. This is a critical issue and should be looked into immediately.

[2017-04-04 11:59] sachinjain024 commented on #4
@sarathnair Can you please give me a screenshot of your chrome task manager. I just wanted to view the memory consumption by other tabs/processes as well before considering this as issue. Normally, chrome keeps on hogging memory if you do not refresh the page for a long time. I think the same holds true for extensions as well. Can you check the memory usage by other extensions as well ?

[2017-04-04 12:19] sarathnair commented on #4
@sachinjain024
![image](https://cloud.githubusercontent.com/assets/7995999/24655990/362e566c-195e-11e7-9633-3cf8301824b5.png)

Here is the screen shot you asked. After a couple of refresh I see below:

![image](https://cloud.githubusercontent.com/assets/7995999/24656105/abf02a4c-195e-11e7-81fc-0a65d58ec88f.png)

I see similar behavior in Adblocker extension. But after a while Adblocker seems to re

[2017-04-06 13:09] saylasr opened #10 "Chrome header modification after redirect doesn't work anymore"
Previously it was possible to create two rules:
1) Redirect Request from one url to another
2) Add Access-Control-Allow-Origin response header for certain host, so the request is not blocked by CORS.

But in the past few days the second rule is not working. So after redirect I get the error:
XMLHttpRequest cannot load <url1>. Redirect from '<url1>' to '<url2>' has been blocked by CORS policy: No '

[2017-04-07 07:29] sachinjain024 commented on #10
@saylasr Nothing changed inside Requestly code which can cause this issue. Can you please share your rules so that I can look into it further? If you have privacy concerns w.r.t your rules you can also send them to me on requestly.extension@gmail.com

[2017-07-10 09:49] Cologler opened #11 "Regex is invaild."
e.g:

[code]

It is a vaild regex.

[2017-07-10 09:52] Cologler commented on #11
Also, url should allow not start with (http|https|ftp).

[2017-07-11 01:32] sachinjain024 commented on #11
@Cologler Actually, Requestly accepts a valid regex to be of this form `/someRegex/ig`. For your url, it would be

    /http:\/\/push\.gd165\.com:8080\/\?(?:.*)&surl=http:\/\/(.*)/ig

However, an easy way would be to use `Matches Wildcard` operator and you can simple use the following

    http://push.gd165.com:8080/?*&surl=http://*

Here, you will get the * values as $1, $2 respectively. Check th

[2017-07-11 01:55] Cologler commented on #11
Thanks.

But how about the second idea? I want replace some url to magnet link or just use google search.

[2017-07-11 03:11] sachinjain024 commented on #11
Oh! In those cases I think you would have to go with first option. It is good to know about the second option though.

[2017-07-11 03:39] Cologler commented on #11
(⊙﹏⊙), what do "first option" mean?

[2017-07-11 04:10] sachinjain024 commented on #11
@Cologler First option is about using Regex match and second option was about using wildcard match :-)

[2017-07-11 04:15] sachinjain024 commented on #11
@Cologler Regarding your question about:

If you are talking about destination url, We do need to have strict comparison for destinationUrl otherwise we would not know which protocol to be used.

If you are talking about source url, you can simply use your pattern in regex match. For example check this example:

https://medium.com/@requestly_ext/create-url-shortcuts-for-jira-projects-4fd49abdcae7

[2017-07-11 04:20] sachinjain024 commented on #8
@DandyClubs Sorry for delay on this but I could not reproduce this issue. Closing this. Feel free to reopen if you are still facing this.

[2017-07-11 04:20] #8 closed

[2017-07-11 04:31] Cologler commented on #11
Is possible let this extensions work with redirect request (status code: 301, 302 and 307)?
My network provider inject AD by redirect the request. (ㄒoㄒ)

[2017-07-11 04:41] sachinjain024 commented on #11
@Cologler I dont completely follow you by this statement. Can you please help with an example ?

[2017-07-11 04:48] Cologler commented on #11
e.g:

I was input `http://www.huya.com/`, but my network provider was response:

302 redirect to `http://push.gd165.com:8080/\?Id=????????&surl=http://www.huya.com/`

In this case, requestly was not match `http://push.gd165.com:8080/\?Id=????????&surl=http://www.huya.com/` and redirect back to `http://www.huya.com/`.

[2017-07-11 08:59] sachinjain024 commented on #11
@Cologler Where do you want to redirect this request to ? Can you show me how you are setting up your rule.

In this case, I think you should be good to follow this

RuleType: RedirectRule
Source: Url Matches (Wildcard) http://push.gd165.com:8080/\?Id=*&surl=*
Destination: http://www.someUrl.com?param1=$1 (Just an example)

There is one more thing to figure out. I am not fully sure if chrome allow

[2017-07-11 10:27] Cologler commented on #11
https://developer.chrome.com/extensions/webRequest say:

Seem chrome does not allow we modify the request.

[2017-07-11 10:39] Cologler commented on #11
Is any way to log whether the redirect is executed?

[2017-07-11 10:56] sachinjain024 commented on #11
@Cologler You can setup a simple Redirect Rule

Url contains push.gd
Redirect Url: https://www.facebook.com

So when your server sends 302 with push.gd in the url, this rule will try to modify and redirect it again to facebook.

If the rule works then this means your request can be intercepted otherwise not.

[2017-07-11 11:09] Cologler commented on #11
Seem the rule:

Url equals `https://github.com/`
Redirect Url: `https://www.facebook.com`
Input `http://github.com` (not https)

It worked.
Now I am trying to find error in my exists rule.

Thanks for your times.

[2017-07-11 11:09] #11 closed

[2017-08-02 21:44] tomprogers opened #12 "Doesn't work well in mixed HTTPS/HTTP scenarios"
The site I'm debugging is fetched over HTTPS. The localhost server that provides replacement assets only supports HTTP.

The latest Chrome (v59) refuses to download replacement javascript because the host page is secure and the javascript URL is insecure. There doesn't seem to be a good way to work around this on a Mac (there is apparently a hack that works on Windows by disabling _all_ Chrome sec

[2017-08-03 08:52] sachinjain024 commented on #12
@tomprogers You are correct. Modern browsers do not allow you to load unsecure (http based) active content (scripts, stylesheets, objects etc) on secure (https) sites. This is called mixed content issue.  If there is a particular script you are trying to load into your secure site from localhost, you can use [Requestly Library](http://www.requestly.in/content/documentation/introducing-library-serv

[2017-08-05 06:12] Cologler opened #13 "Redirect with url decode?"
For example:

I have a url:

[code]

I can use regexp to get this part:

[code]

Is this possible to redirect to:

[code]

[2017-08-05 09:27] sachinjain024 commented on #13
@Cologler Currently, decoding of url fragments is not supported so this use case is not possible at the moment. I will try to put this in our roadmap.

[2017-08-31 15:19] AlbertoP64 opened #14 "Doubled slashes in URL"
Hi, problem is, along with corrected edit, I get duplicated slashes where they aren't supposed to be.
The nice thing is the browser ignores it, so this is not as urgent, but I wished to signal the bug anyway.

I have set that rule (to edit language of MSDN / DOC Microsoft pages):
Replace Host or some part of URL
Pairs
Replace	`/it-it/`
  With	`/en-us/`
Source  Url   Contains   `.microsoft.com/`

W

[2017-09-01 04:08] sachinjain024 commented on #14
Hi @AlbertoP64

Thanks for logging the issue. Actually, with your Replace-With pair, our system is identifying it as regex and replacing the regex it-it with /en-us/ so you are getting double slashes.

Instead you can try this:

    Replace it-it/
    With en-us/
    Url contains .microsoft.com/

When user specifies anything between two slashes we treat it as regex like /ssss/. For more informatio

[2017-09-01 04:09] sachinjain024 commented on #10
Closing this issue due to lack of response.

[2017-09-01 04:09] #10 closed

[2017-09-01 04:09] sachinjain024 commented on #13
Closing this issue since this is not a feature planned in near future.

[2017-09-01 04:09] #13 closed

[2017-09-01 04:10] sachinjain024 commented on #7
Closing this issue since OP did not respond.

[2017-09-01 04:10] #7 closed

[2017-09-01 04:11] sachinjain024 commented on #12
Closing this due to lack of response.

[2017-09-01 04:11] #12 closed

[2017-09-01 07:53] AlbertoP64 commented on #14
Ok tanks for prompt reply :).

1) I prefer to match initial slash also, to avoid editing wrong URL part.
Good new is, Regex Escape sequence is also supported:
I entered \/it\-it\/ into the search part, and double slashes disappeared.
My fault, I was only totally unaware that regexp was active (not reading ALL the docs) :-P.

2) To make very clear to user that regexp is available, and let it contro

[2017-09-01 08:12] sachinjain024 commented on #14
Thanks @AlbertoP64 for the suggestion. Currently we infer regex from user string if it is a regex or not and that I do by checking if given string is present between two slashes and then if there is any flag like `i` or `g`.

You are completely correct about this user experience. I will try to fix this in our upcoming releases.

Thanks for the explanation.

[2017-09-01 11:29] AlbertoP64 commented on #14
I am very sorry, but seems I spoke too soon.... :grimacing: was not carefully looking in.

Sadly happens that my supposed workaround with Regexp Escape... doesn't work at all!
Mistakenly I was checking only for double // slashed disappearing,
 but not carefully looking and not seing that language bit was NO MORE edited from URL.....
 so my string change was really ineffective as it do inhibit the

[2017-09-01 13:03] sachinjain024 commented on #14
@AlbertoP64 No problem. We can keep it open and I will try to fix this in upcoming release.
I am wondering about this suggestion

    Replace: docs.microsoft.com/it-it/
    With: docs.microsoft.com/en-us/

What's the problem with this approach ?

[2017-09-11 05:41] sachinjain024 opened #15 "Wrong validation when user selects host"
This is one of the feedback on chrome store:

## Items
- [x] Do url validation only is rule source is url and not url host.

[2017-09-11 05:51] sachinjain024 opened #16 "Enable data schemes in rules"
- Show rule size on ruleIndex screen
- Show user the amount of size available in size tooltip
- Allow data schemes with max length of 500bytes in the destination field
- Update validation
- Give notification
- Inform users by article on medium on size constraints

[2017-09-13 02:32] Cologler opened #17 "connect firebaseio.com?"
Why does the extension connect firebaseio.com?

[2017-09-13 04:26] sachinjain024 commented on #17
@Cologler We have implemented sharedList feature and file library. We use firebase as backend for storing user's files and sharedList. You can read more about file library in this article:

https://www.requestly.in/content/documentation/introducing-library-service/

Earlier, we were storing google drive for storing user's files but now we are using firebase.

@requestly/requestly-library We should

[2017-09-13 04:28] sachinjain024 commented on #17
Article about sharedLists https://www.requestly.in/content/documentation/introducing-shared-list/

[2017-09-13 04:34] Cologler commented on #17
@sachinjain024

But why does it connect even I did not use any feature of sharedList ?

(My 'Shared List' and 'file library' was not login).

[2017-09-13 05:09] sachinjain024 commented on #17
@Cologler Yes this is a good question. Actually we have initialized firebase in app initialisation so it just makes a connection and does not do anything. Otherwise when you create a sharedList and then we make a connection it will be a poor user experience.

[2017-09-13 05:10] #17 closed

[2017-09-13 05:19] sachinjain024 commented on #17
@Cologler Just asking if it is a bothering thing for you ?

[2017-09-13 05:24] Cologler commented on #17
I just a little confused, is this extensions recording my browser history ...

![picpick-20170913-132038-001](https://user-images.githubusercontent.com/10906962/30360854-6ae94fea-9886-11e7-971c-e2e6d4f01ad7.png)

[2017-09-13 06:17] sachinjain024 commented on #17
@Cologler No! You can safely use Requestly. Here is the list of permissions required by Requestly:
https://medium.com/@requestly_ext/list-of-permissions-used-in-requestly-48a011dee133

Just in case you wanted to have a look at it too.

[2017-09-13 06:25] Cologler commented on #17
@sachinjain024 Even requestly cannot read history, all requests will be handle by requestly since I installed it.

[2017-09-30 13:31] sachinjain024 commented on #15
This has been fixed. Will be available in chrome store with the next release.

[2017-09-30 13:31] #15 closed

[2017-10-30 18:37] aneuway2 opened #18 "404 page - https://www.requestly.in/library/library"
https://www.requestly.in/library/library

Click File Hosting > File Hosting

looks like you meant for the link to be `/library` not `library`

[2017-10-31 00:40] sachinjain024 commented on #18
Thanks @aneuway2 for catching this. We have fixed this issue now.

[2017-10-31 00:40] #18 closed

[2017-11-22 08:21] johan-gorter opened #19 "Modify headers does not seem to work anymore"
I have a rule:
[code]

However, the response header still appears when I open www.google.com

[2017-11-22 11:00] sachinjain024 commented on #19
@johan-gorter Modification of header works! Unfortunately modification in response headers are not visible in chrome dev tools. This is due to chromium bug/pending feature.

Read this ticket for more details: https://bugs.chromium.org/p/chromium/issues/detail?id=258064

It should be working. Its just not visible to you.

[2017-11-22 12:36] johan-gorter commented on #19
Thanks for the info, I found my real bug now.

[2017-11-22 12:36] #19 closed

[2017-12-14 14:02] bestpika opened #20 "How to remove header: referer?"
I want to remove referer from `foo.com`'s request.
But this rule not work.
![image](https://user-images.githubusercontent.com/5698157/33995891-57794cd0-e11a-11e7-9497-514fadff17bc.png)

[2017-12-14 14:58] sachinjain024 commented on #20
@bestpika Rule looks fine and I just tried it. It works fine for me. Is your rule active ?

Check these screenshots:

## Rule
<img width="1320" alt="screenshot 2017-12-14 20 25 18" src="https://user-images.githubusercontent.com/3108399/33998247-001ac386-e10d-11e7-9648-cd1246c617c9.png">

## Without Rule

<img width="1621" alt="screenshot 2017-12-14 20 23 12" src="https://user-images.githubusercont

[2017-12-14 15:00] sachinjain024 commented on #20
You may also want to read this thread - https://medium.com/@requestly_ext/list-of-headers-not-allowed-to-be-modified-by-chrome-extensions-c850b5c02fff

[2017-12-14 16:07] bestpika commented on #20
Well, my target site is not `foo.com` (just show my setting)
A b site's image on a site.
I try to remove a site's Referer, but not work.

![image](https://user-images.githubusercontent.com/5698157/34001803-f0716470-e12b-11e7-9c29-305e10c1f563.png)
![image](https://user-images.githubusercontent.com/5698157/34001823-fc452f52-e12b-11e7-9da9-d7d62af1bfe5.png)

[2017-12-14 16:10] bestpika opened #21 "Can't use Chinese Rule Name"
![image](https://user-images.githubusercontent.com/5698157/34001952-591cf9c6-e12c-11e7-90c2-0878d7d2de2a.png)

[2017-12-14 16:12] bestpika opened #22 "Set Referer to itself?"
An image url is `https://example.com/any file name` (maybe another image on this site).
Can I set this image's referer to itself (`https://example.com/any file name`)?

[2017-12-14 16:19] sachinjain024 commented on #20
@bestpika Well, Your Source matching is wrong here. Here is the meaning of header modification rule -

In this case, request url is the url of the request and not the referer So your rule should look something like this:

    Remove RequestHeader Referer
    Source Url Contains images.gamme.com

Notice, the request url here is for images.gamme.com and not plurk.com. Plurk.com is the referer.
You c

[2017-12-14 16:24] bestpika commented on #20
Ok, this extensions can't modify third-party site's referer.
(But some extension can.)

So...this could be feature request?

[2017-12-14 16:28] sachinjain024 commented on #20
@bestpika This can modify third-party site's referer. Try this:

    Remove Request Header - Referer
    Source Url Contains

Yes leave that field empty and now try this.

[2017-12-14 16:29] bestpika commented on #20
But I don't want to remove all site's referer...orz

[2017-12-14 16:30] sachinjain024 commented on #16
Closing this for now.

[2017-12-14 16:30] #16 closed

[2017-12-14 16:33] sachinjain024 commented on #20
Yes! Currently we don't allow putting conditions on header values that remove header when header value contains something.

Its less likely to be supported. Reason being its not a popular request. But we may consider it in future depending upon the request popularity.

Thanks for your patience.

[2017-12-23 22:31] joshuatz opened #23 "Uploading Rules - Quota Exceeded (QUOTA_BYTES_PER_ITEM)"
Most people probably don't run into this, but I noticed that when trying to upload a rather large rule export file, the rules page will toast "All rules imported successfully" and show that the rule has been uploaded, but if you refresh the page, it disappears from the list. Upon further inspection, it looks like the quota limits for Chrome's Storage API is getting exceeded.

Attached is a file th

[2017-12-27 05:48] sachinjain024 commented on #23
Thanks @joshuatz. We are already aware about this issue/limitation. We did not work much in this direction considering this as very highly unlikely scenario.

You are right about storage limits of local vs sync and we have chosen sync deliberately because it allows users to work on multiple computers.

I checked your test file and It contains a lot of duplicate entries. Maybe you created these ent

[2017-12-28 06:42] joshuatz commented on #23
Thanks for the response @sachinjain024 .

I totally agree about this being a very rare occurrence. I have been using Requestly at work for months and only ran into this limit a few times when trying to import a "blacklist" of domains and web assets to block for some very specific testing. The file I shared is indeed a dummy test file I generated, since I didn't want to have to redact information f

[2017-12-31 04:04] bestpika opened #24 "5.1.0 not working."
Chrome 64.0.3282.39 with 5.1.0 (12/30) `replace host` and `redirect request` not working.

Console
![image](https://user-images.githubusercontent.com/5698157/34459217-9c690c24-ee24-11e7-99d0-f9f29bf242bd.png)

And https://www.requestly.in/library get 404.

[2017-12-31 06:02] sachinjain024 commented on #24
Thanks for logging the issue. We are looking into it. We will let you know
once the issue is fixed.

On 31-Dec-2017 9:34 AM, "Yui Mitsuki" <notifications@github.com> wrote:

[2017-12-31 08:06] sachinjain024 commented on #24
@bestpika We have fixed the library issue and now you can use library. We are still looking into the queue full error.

[2017-12-31 08:53] sachinjain024 commented on #24
@bestpika We have fixed this issue and released v5.1.1. This should be available to you in an hour or so as soon as the build is published on chrome store. Thanks again for reporting.

[2018-01-01 00:25] sachinjain024 commented on #24
@bestpika Let me know if we can close this issue. cc: @requestly/requestly-extension-developers

[2018-01-01 03:55] bestpika commented on #24
I update to 5.1.1, but sometime `replace host` and `redirect request` still not working.
I open console but see no error.

[2018-01-01 03:57] bestpika commented on #24
I try to delete all rules and import, then work.
But when I close browser and open it, it not work again.

[2018-01-01 04:29] sachinjain024 commented on #24
@bestpika Can you give me an example which one does not work so that I can look into it ?
Is it possible for you to share your rules on requestly.extension@gmail.com and then I will have a look at what may be the possible issue.

[2018-01-01 07:48] bestpika commented on #24
My rule.
[requestly.txt](https://github.com/requestly/requestly-issues/files/1595785/requestly.txt)

[2018-01-01 07:50] bestpika commented on #24
I see a field `status`, but in requestly I can't set this.

[2018-01-01 07:52] bestpika commented on #24
I see a field `status` in `pairs`, but in requestly I can't set this.

[2018-01-01 10:51] sachinjain024 commented on #24
@bestpika Thanks! We will test this out. We initially planned to use `status`  inside pairs as well but we never used that. We no longer use this field.

[2018-01-01 14:33] harrysingh commented on #24
I also see similar issue where the redirect rules are not working. Unfortunately deleting the rules and importing back also does not work for me.

[2018-01-01 16:47] sachinjain024 commented on #24
Thanks @bestpika and @harrysingh for logging the issue. I have fixed the issue and deployed as version v5.1.2. It should be available in chrome store soon and then you can test if this issue is fixed or not.

[2018-01-02 21:26] caviyacht opened #25 "Multiple replacement steps in a single rule not working"
I'm not entirely sure when it stopped working, but I have a single replacement rule setup that has multiple steps in it.

The first rule is to change the entire url to something different with placeholders based on the requested url. The next 20-ish rules are setup to replace the placeholders with different values.

This used to work and no longer does, it appears that the first rule is firing but

[2018-01-03 03:38] sachinjain024 commented on #25
Thanks @caviyacht for logging the issue. If I understand you correctly, you have a replace rule with multiple pairs in it and the problem is only first pair is getting fired and remaining pairs are not getting fired. For example:

    Replace q=1 with q=2
    When Url contains example.com

    Replace q=2 with q=3
    When Url contains example.com

So when user visits, `example.com?q=1`, Ideally h

[2018-01-03 03:39] sachinjain024 commented on #24
@bestpika Can we close this issue ?

[2018-01-03 04:09] caviyacht commented on #25
@sachinjain024 , thanks for the quick reply. Yes, this is exactly what I am doing, and I can see how that bug fix would cause this to stop working.

I guess how I always took it was that the pairs in a rule would execute together in order, otherwise I do not see a real use in having multiple pairs in a rule.

So if the first pair in a rule matched, then everything else in that rule is ok to execut

[2018-01-03 05:12] sachinjain024 commented on #25
@caviyacht Yes, I am able to reproduce the issue. Currently, first pair is getting executed only and then rest of the pairs are not getting executed. This is certainly a bug.

Pairs in a single rule allows users to perform multiple actions on a given request. Performing multiple rules on a single request makes things complex for debugging and understanding what is happening exactly.

I will try to

[2018-01-03 07:29] bestpika commented on #24
I tested, all okay!

[2018-01-03 07:29] #24 closed

[2018-01-04 15:45] sachinjain024 commented on #25
@caviyacht We have fixed this issue. Please allow us a couple of days to deploy the extension to chrome store and firefox server.

[2018-01-07 06:43] requestlyext commented on #25
@caviyacht We have fixed this issue and deployed v5.1.3 in chrome store. It should be available in half an hour or so. Thanks for your patience.

[2018-01-15 05:29] sachinjain024 commented on #25
Looks like the issue is fixed so closing this one.

[2018-01-15 05:29] #25 closed

[2018-01-24 11:04] Cologler opened #26 "[FR] exec user scripts in webRequest event like onBeforeRequest."
As the title says.

[2018-01-24 12:49] sachinjain024 commented on #26
@Cologler That is almost impossible to achieve. Execution of user scripts can be happen only when DOM has started loading. Chrome gives us a feature called inject content script at document_start and we inject the script that way but when we create script tag and inject it, it is executed asynchronously.

Can you explain your case ? Maybe that way I could come up with a better use case.

[2018-01-24 13:00] Cologler commented on #26
Case 1, encodeURIComponent to use some anonymous proxy:

redirect `URL` to `http://???/?url=encodeURIComponent(URL)`

Case 2, decodeURIComponent to avoid some redirect:

redirect `http://???/?url=encodeURIComponent(URL)` to `URL`.

---

I think this is easy to achieve like:

[code]

[2018-01-24 13:25] sachinjain024 commented on #26
@Cologler Now, I understand what you are asking. I misunderstood you first time. Infact this is in roadmap.

Thanks for submitting this feature request. We will support this in near future. Watch this ticket for more updates.

[2018-01-26 08:24] ghost opened #27 "Rules enabled but doesn't work on Chrome"
The rules I created are enabled, but not working on Chrome

[2018-01-26 20:54] sachinjain024 commented on #27
Thanks for logging the issue

Can you please give some more information to help me debug this issue.

If possible, please attach your rules or mail us on
requestly.extension@gmail.com

On 26-Jan-2018 1:54 PM, "ElectroWizard1987" <notifications@github.com>
wrote:

[2018-02-09 15:26] alpsinan opened #28 "adding the prefix in the rule twice instead of only once"
wikipedia.com is blocked by Turkey. There is 0wikipedia.com (which is not blocked)  so i thought your app could be a solution for this. (Actually it can be a solution for many websites blocked by many governments)
. So I made a rule, wikipedia to 0wikipedia but your app makes it 00wikipedia and obviously DOS.

[2018-02-09 15:47] sachinjain024 commented on #28
@alpsinan Thanks for logging the issue. Can you tell me how your rule looks like ? Once I have rule, probably I can provide a solution to this problem.

On first look - this looks straight forward to fix this but I need your rule to look at it. If there is a bug in the code, I will let the team know it and get it fixed.

[2018-02-09 23:06] alpsinan commented on #28
On Friday, February 9, 2018, 6:47:36 PM GMT+3, Sachin Jain <notifications@github.com> wrote:

@alpsinan Thanks for logging the issue. Can you tell me how your rule looks like ? Once I have rule, probably I can provide a solution to this problem.

On first look - this looks straight forward to fix this but I need your rule to look at it. If there is a bug in the code, I will let the team know it an

[2018-02-10 04:45] sachinjain024 commented on #28
@alpsinan Can you provide the rule - A screenshot should suffice or you can share the rule using[ Requestly's sharedList feature](https://www.requestly.in/content/documentation/introducing-shared-list/).

[2018-02-11 19:28] cibinjoseph opened #29 "Math operation on part of url"
Is there any way to do a math operation on a part of a url?
For eg. if I wanted to increment the page number in a url like
`http://www.book.com/book1&page=101`
to
`http://www.book.com/book1&page=102`

[2018-02-12 10:27] sachinjain024 commented on #29
Currently, there is only one function supported i.e. Random number function and users can use it like this.

    http://www.book.com/book1&page=<rq_rand(2)>

It will generate 2 digit random number every time the request is matched. Currently, there is no increment method supported but we plan to add more similar methods in future like encodeURIComponent and all.

How urgent it is your use case ?

[2018-02-12 10:32] cibinjoseph commented on #29
No urgency! Was looking for an extension that had capabilities like that and came across yours.

[2018-02-12 10:34] sachinjain024 commented on #29
Does random number method solve your use case ? If we give you increment, decrement operations within couple of weeks, will that be fine ?

[2018-02-13 09:55] cibinjoseph commented on #29
Hey, please take your time on it. It was only a suggestion I thought would be a great addition! None of the extensions online have anything similar that can increment pages by modifying the url directly.
And I don't think random number method would solve it, especially for books and things like that where you'd require an explicit increment or decrement.

[2018-02-22 11:51] t2gran opened #30 "Only one of N rules matching the same URL is applied"
When defining several rules matching the same URL only one is applied.

Might be related to #27

**Use Case**
I have an endpoint with more than 30 URL parameters which I want to test with different combinations of parameters. To do so I have put each parameter in its own rule (matching the same endpoint). I have done this to be able to turn each parameter on/off independently. I know I could put a

[2018-02-25 02:48] sachinjain024 commented on #30
@t2gran We have made required changes in the code to fix the issue. We will be releasing the extension with new build soon.

[2018-03-07 05:13] mrj commented on #5
Yes, I'm using Requestly on a website that sets the `content-security-policy` header to `upgrade-insecure-requests;, upgrade-insecure-requests;, upgrade-insecure-requests;`, which Chrome seems to expand to three separate `content-security-policy` headers. A remove rule in Requestly seems to only get rid of one of these. But I can get it to work by adding multiple identical remove rules that each g

[2018-03-09 07:31] sachinjain024 commented on #5
Thanks @mrj for mentioning here. We will fix this soon. Glad to know that you are already aware about the workaround.

[2018-03-16 09:10] sachinjain024 commented on #30
@t2gran Sorry for delayed response. This issue has been fixed and released in the latest version of chrome store about a week ago. Please try it and let us know if it solves your use case.

[2018-03-17 06:29] Ryusuta opened #31 "Query keeps adding %3D to the end"
Hi there. I'm attempting to use requestly to add "&disable_polymer=true" to the end of any HTML containing "watch?v=" (minus the quotes on both, of course). This is because Youtube removed the "Restore Classic Youtube button" and the only way to look at non-ugly Youtube is to add "&disable_polymer=true" to the end of all HTMLs with it. This solution ALMOST works, but I could use help figuring out

[2018-03-17 07:04] sachinjain024 commented on #31
@Ryusuta Try modifying your rule like this

Request URL contains "watch?v="
Add Param `disable_polymer` Value `true`

<img width="1314" alt="screenshot 2018-03-17 12 33 46" src="https://user-images.githubusercontent.com/3108399/37552642-7aa2059a-29df-11e8-94bb-e2110f35ab24.png">

[2018-03-17 07:32] Ryusuta commented on #31
I gave that a shot as well, but that changed the url to disable_polymer=**+**true

For some reason it added a plus sign to it.

[2018-03-17 07:41] sachinjain024 commented on #31
Somehow this is working perfectly fine for me. Have a look at this screenshot

<img width="1045" alt="screenshot 2018-03-17 13 09 22" src="https://user-images.githubusercontent.com/3108399/37552943-760094de-29e4-11e8-8c1b-68a278c094cb.png">

[2018-03-17 07:49] Ryusuta commented on #31
OH! My mistake. I accidentally added a space before true. Thanks so much!

[2018-03-17 07:49] #31 closed

[2018-03-26 05:34] sachinjain024 commented on #5
@mrj This has been fixed in our development process. This will be available in chrome store as we publish our next version along with more changes.

[2018-04-09 09:40] SunflowerFuchs opened #32 "Add to existing header?"
Is there a way to add on to an existing header, e.g. add an entry to the cookie header?
I've tried the modify header rule, but couldn't seem to make it work.

[2018-04-09 09:43] sachinjain024 commented on #32
@egoisticalgoat This is currently not possible if you do not already know the original value of the header. I take this as a feature request and will let you know when this is available.

[2018-04-09 09:49] egoisticalgoat commented on #32
Thanks for the quick response! I'm looking forward to it :+1:

[2018-05-11 13:33] mamo83 opened #33 "Location attribute in HTTP302 response"
Hello,

I found that requestly Replace host is not working when the request is starting from a 302 response.
Example:
Requested URL: https://www.pippo.com/index.html
Redirection rule is https://www.pippo.com/ should become http://www.pippo.com/
Request is sent correctly to http://www.pippo.com/index.html
If index.html is a 302 reponse with location attribute "https://www.pippo.com/redirect.html",

[2018-05-14 13:18] kdwk opened #34 "Redirect request not working"
I am trying to redirect https://www.google.com to https://vqmvr8fijoybhhtmewjyxw-on.drv.tw/temporary/Google%20substitution/Google.html, which is just my modified version of the google webpage. However, as I used the 'equal' rule it appears not to work. I tried it on more popular websites like https://www.duckduckgo.com and then it works again. Is it just my problem? I am using Request 5.3.0 on Goo

[2018-05-14 16:01] sachinjain024 commented on #34
@kdwk There is a catch in using "Equals" operator. You have to append "/" at the end in this case.

Try doing this
    Source - Url "Equals" "https://www.google.com/"
    Destination - <some_other_url>

Let me know if it solves your problem.

[2018-05-14 16:02] sachinjain024 commented on #34
I just tried this rule and it worked perfectly for me

<img width="1309" alt="screenshot 2018-05-14 21 31 29" src="https://user-images.githubusercontent.com/3108399/40008939-391ad068-57be-11e8-94c0-cb7e3159e308.png">

[2018-05-16 05:41] kdwk commented on #34
Wow thank you very much!

Sent to you by Kdwk

[2018-05-16 05:42] sachinjain024 commented on #34
@kdwk Awesome! Glad to know it worked for you. Can we close this ticket now ?

[2018-05-16 12:56] kdwk commented on #34
Yes thank you once again!

[2018-05-16 14:56] #34 closed

[2018-05-17 08:54] mankondavivek opened #35 "Mime Type Error while replacing CSS and JS files Requestly returns content-type as text/html"
![screenshot from 2018-05-17 14-17-33](https://user-images.githubusercontent.com/34041198/40166913-55ee859c-59dd-11e8-9a89-5c02d0707386.png)
Requestly returns text/html as content type header for both css and js. The browser throws an error and the request is cancelled.

[2018-05-17 08:58] sachinjain024 commented on #35
Thanks @mankondavivek for logging the issue. Can you please tell the exact steps you followed so that we can reproduce the issue and fix it.

[2018-05-23 21:36] elias6 opened #36 "Chrome 66 freezes when trying to set unsafe-url Referrer-Policy response header"
I am using Requestly 5.3.0 and macOS 10.13.4. I work for a company that puts UI widgets on certain websites. When the user is on one of those websites, their browser make a request to our server, which sends back some JavaScript. It is absolutely essential for our server to get a "Referer" header from the user's browser so we can tell what website they are on.

Usually, that works fine. But for de

[2018-05-28 09:11] sachinjain024 commented on #26
@Cologler It's been a long time on this ticket and I am glad to share that this feature has been rolled into production. You can encode, decode url or parts of url using Requestly's inbuilt function feature.

You can create your rule like this

Source Url Matches WildCard https://www.example.com?a=*
Destination rq_decode($1)

`rq_encode` and `rq_decode` are inbuilt functions which you can use in a

[2018-05-28 09:22] Cologler commented on #26
@sachinjain024 already test now. work perfect !

[2018-05-28 09:22] #26 closed

[2018-05-30 20:44] joshuabradley012 commented on #32
I would love to see this as well. Fantastic plugin by the way.

[2018-05-30 20:46] joshuabradley012 opened #37 "Cannot modify Response Header"
Trying to modify the response header, in particular by removing `X-XSS-Protection` but it is not modifying the header. However, it does modify the request header easily.

[2018-05-31 05:55] sachinjain024 commented on #37
Hi @joshuabradley012 Thanks for opening the issue. Actually the response header gets removed but the modifications are not visible in chrome dev tools. This isa chrome bug.

Please have a look at this article - https://medium.com/@requestly_ext/list-of-headers-not-allowed-to-be-modified-by-chrome-extensions-c850b5c02fff

Reason for this is chrome doesn’t want to wait for extensions to finish their

[2018-05-31 06:04] joshuabradley012 commented on #37
Thank you for the info!

[2018-05-31 06:04] #37 closed

[2018-06-01 06:22] Cologler opened #38 "[FR] use offline options page"
Currently:

`https://app.requestly.in/rules/` is the options page.

Expected:

`chrome-extension://?????/rules/` is the options page.

Reason:

* Faster.
* Open without internet.

[2018-06-01 08:08] sachinjain024 commented on #38
@Cologler Thanks for opening the issue. We have thought about this option and this is under road map. Instead of moving it under chrome-extension settings, we are thinking about using Service workers to provide offline capabilities. Not much work has been done yet, will let you know when we prioritize this.

[2018-06-01 08:09] sachinjain024 commented on #21
Thanks @Cologler. I also tried to reproduce the issue but was unable to do so. Closing this issue as "Unable to Reproduce"

[2018-06-01 08:09] #21 closed

[2018-06-01 09:08] sachinjain024 commented on #5
This is available in Chrome Store. I forgot to update this ticket. Closing this ticket. Please reopen if you see any issues.

[2018-06-01 09:08] #5 closed

[2018-06-01 09:09] sachinjain024 commented on #30
@t2gran I assume the fix worked for you. Let me know if it didn't. Closing this issue for now.

[2018-06-01 09:09] #30 closed

[2018-06-01 09:09] sachinjain024 commented on #27
This issue has been fixed long time back. Closing this ticket.

[2018-06-01 09:09] #27 closed

[2018-06-01 09:10] sachinjain024 commented on #28
Closing this due to lack of inactivity.

[2018-06-01 09:10] #28 closed

[2018-06-01 09:12] sachinjain024 commented on #20
Closing this ticket. @bestpika Feel free to reopen if you want to add anything here

[2018-06-01 09:12] #20 closed

[2018-06-03 01:52] sachinjain024 commented on #32
@joshuabradley012 Can you give me some examples of what do you want to add into the header value? Apart from cookie header, does this make sense for any other header too ?

[2018-06-03 01:54] sachinjain024 commented on #37
@joshuabradley012 Did you confirm if the removal of header is working for you or not ? Extension works perfectly but list of headers is not updated in devtools. So you can still use the extension to remove the header.

[2018-06-03 09:03] Cologler commented on #38
@sachinjain024 What happen if I try to create a rule which redirect (or cancel) `https://app.requestly.in/*` ?

[2018-06-04 09:48] sachinjain024 commented on #38
@Cologler You can try that. In our code, we have blacklisted **requestly.in** domain so none of your rules will ever apply to requestly.in domain + subdomains.

[2018-06-11 09:26] tdalon opened #39 "Redirect to open in another browser"
It would be great if I could also redirect the link to be opened in another browser.
Special sites like SharePoint are better open in Internet Explorer.
Something to allow a preoption to run a command like
"C:\Program Files\Internet Explorer\iexplore.exe" <Url>

[2018-07-12 16:34] HarrySystems opened #40 "Proxy response"
The idea is to be able to `proxy the request through a function` which can transform the contents of the response.
For example:
- .SASS files, which are only understood by the browser if transpiled to CSS
- Accessing any webpage and adding your "taste" to it, for example removing parts of the page (maybe ads?)
- Beautify .JSON, .CSS and .JS files for better redability

It would be awesome to have

[2018-07-16 21:32] caviyacht opened #41 "[FR] Variable support"
It would be nice to have the ability to possibly create key/value pairs of variables somewhere to be used in the regex conditions.  Has this been considered before?

There are many times when I want my requestly rules to work on the same set of hosts every time.  Creating a variable with the regex for these hosts and using it on each new rule would make it easier to maintain and add new hosts to a

[2018-07-19 03:23] johnnyhsu1106 opened #42 "Can't delete the file in file hosting"
![image](https://user-images.githubusercontent.com/18588513/42919806-a4b48f3e-8ae1-11e8-8308-20e3b22716ca.png)

[2018-07-19 05:37] akhilojha commented on #42
@johnnyhsu1106 Thanks for logging the issue. This has been fixed, can you check and let us know if you are still facing this.

[2018-07-24 12:34] sachinjain024 commented on #42
@johnnyhsu1106 Can you please confirm if the issue has been fixed? We can then close this issue.

[2018-07-24 12:36] sachinjain024 commented on #41
@caviyacht Thanks for logging the issue. This is a great feature add. We have added this to our roadmap and will implement in future

Thanks again for suggesting a nice feature. Keep them coming.

[2018-07-24 12:37] sachinjain024 commented on #39
Closing this issue. Please reopen if you need to continue the discussion on this.

[2018-07-24 12:37] #39 closed

[2018-07-24 12:38] sachinjain024 commented on #35
Closing this issue. Please reopen if you want to continue the discussion.

[2018-07-24 19:14] johnnyhsu1106 commented on #42
Hi Sachin
This issue is fixed, Thanks so much.
Another issue is in 'File Hosting'. when I click `Copy Url`, it will
automatically generate a Url, like this
https://requestly.page.link/TFXRnmA8v5G3rJnW7
however, the secured url is not working sometimes but unsecured url is
working.
Thanks for help.

On Tue, Jul 24, 2018 at 8:34 AM, Sachin Jain <notifications@github.com>
wrote:

--
Thank you.

Johnn

[2018-07-30 15:04] andreventuravale opened #43 "Allow cookies to be set/mapped to headers or URL parameter"
I would like to request a feature where you can ask a specific cookie value to be set/mapped to a request header or to a URL parameter.

Example:

Given I have cookie FOO=BAR
When a request is made
Then append a "&foo=bar" parameter to related request URL

Given I have cookie FOO=BAR
When a request is made
Then drop a HTTP request header into related request as "x-foo: BAR"

[2018-07-30 15:07] andreventuravale commented on #43
This is useful for development environments which could replicate some production behaviors which has such habilities, like Akamai servers.

[2018-07-31 12:26] sachinjain024 commented on #29
Hey, @cibinjoseph I forgot to update on this ticket, we had added the support for incrementing and decrementing a part of URL. You can use Replace Rule to replace the existing param value with an incremented value something like this

## Replace Rule

**Replace**:  ?yourparam=(.+)&
**With**: rq_increment($1, 1)

[2018-07-31 12:28] cibinjoseph commented on #29
Oh that's great! That would be helpful

[2018-07-31 12:28] #29 closed

[2018-07-31 12:33] sachinjain024 commented on #43
@andreventuravale Thanks for the feature request. We really appreciate it.

We have got tons of feature in the queue right now. We have added this to our roadmap. We will think about how to provide a solution for such use cases in the future.

Is this something blocking you?

[2018-07-31 12:34] sachinjain024 commented on #42
@johnnyhsu1106 The given URL is working fine for me (both with https as well as HTTP). Do you know any other URL which may not be working for you? We can look at this issue then.

[2018-07-31 12:40] sachinjain024 commented on #4
@sarathnair @isiahmeadows Sorry for responding so late on this ticket. I actually forgot to update this one. We have made some cleanups in the code and removed some unused code+library.

I am expecting that should fix the issue. If by chance, you guys are still using Requestly (That would be a huge thing for me), can you please let me know if you face this?

[2018-07-31 21:02] isiahmeadows commented on #4
@sachinjain024 I'm not seeing it on my end any more and haven't for a while, so I think this could be closed.

[2018-07-31 21:02] #4 closed

[2018-08-01 02:09] sachinjain024 commented on #4
Thanks @isiahmeadows for confirming. Feel free to give us suggestions/feedbacks.You can also reachout to us at requestly dot extension at gmail dot com.

[2018-08-07 14:47] VDMummaneni opened #44 "Enhancement"
It would be nice to have a functionality where users can move the requests up and down based on their use.
Right now when a user has multiple requests, its difficult to navigate and search through all the requests.
If there is a way we could just move the requests based on the usage , it would be great

[2018-08-08 04:12] sachinjain024 commented on #44
@VDMummaneni We have recently finished "Grouping" feature. Using Groups you can manage your rules, create a group for a logical set of rules which should be toggled on/off together. Or maybe a use case of "Archive". We are planning to release that soon. Hopefully, that solves your use case.

We will support searching and filtering soon. Thanks for your feedback.

[2018-08-08 13:42] andreventuravale commented on #43
@sachinjain024 thanks for the quick response, no it is not blocking me at all, just a nice to have feature.

[2018-08-12 03:58] sachinjain024 commented on #42
@johnnyhsu1106 Can you please let us know if the issue is still happening for you? Or can we close this one ?

[2018-08-12 12:01] johnnyhsu1106 commented on #42
Please close this issue. Thank you

On Sat, Aug 11, 2018 at 11:58 PM Sachin Jain <notifications@github.com>
wrote:

--
Thank you.

Johnny  Hsu
LinkedIn:
https://www.linkedin.com/pub/johnny-hsu/73/68/56
Personal Website:
http://johnnyhsu1106.com.s3-website-us-west-2.amazonaws.com/

[2018-08-13 04:33] #42 closed

[2018-08-15 08:01] MrQubo opened #45 ""Modify query parameters" is broken in Firefox"
I've tried to use requestly to disable new layout on youtube.
I'm using Firefox Quantum 61.0.2. Checked on Linux and Windows machine.
It works as expected in Chromium browser.

Steps to Reproduce:
- Add the "Modify query parameters" rule with `Host Equals www.youtube.com` and `disable_polymer=1` param.
- Try to visit [https://www.youtube.com](https://www.youtube.com).

Actual Behavior:
The page do

[2018-08-15 08:14] MrQubo commented on #45
Firefox crashes after I wait a minute or two waiting for the youtube homepage to load. It's repeatable.

[2018-08-15 08:54] MrQubo commented on #45
Other websites work as expected.

[2018-08-16 04:16] sachinjain024 commented on #45
@MrQubo Thanks for logging the issue here. I have couple of questions here -

1. I tried to open youtube.com with disable_polymer=1 and without this parameter. I could not see any difference between the two pages.
2. I tried to debug the issue but I could not reproduce it. I use MacOs

Secondly, If it is specific to youtube then it maybe youtube's behavior rather than requestly bug. If it is worki

[2018-08-16 07:14] MrQubo commented on #45
It's the new youtube layout. They're doing AB tests and it's being enabled for random people. But there's no option to turn it off except this query parameter. Here's the difference: [imgur.com/a/oSB9xYS](https://imgur.com/a/oSB9xYS).

I'll try to investigate it further.

[2018-08-29 06:53] sreevisakh opened #46 "Making Default Action Enable/Disable"
While working I have to activate and deactivate the plugin frequently. Can you make the Left Click in the extension Icon to Activate/Deactivate the plugin rather than opening the requestly page. Which can be opened via an options menu in the right click context menu.

[2018-08-29 06:58] sachinjain024 commented on #46
Thanks! @sreevisakh for reaching out with a nice suggestion. I think the frequency of opening requestly page is much higher than activating and deactivating the plugin and this is why we open the requestly page on left click on extension icon. Click on the extension icon is very intuitive too and this is why I don't want to change this behavior.

When we released the activate/deactivate feature we

[2018-09-06 20:43] rtmcrc opened #47 "user agent change"
On user agent change the "platform" "os_name" and "os_flavor" are not substituted so the web site knows that user agent is fake

[2018-09-07 23:47] rtmcrc commented on #47
Hi, select user agent with different OS than yours and check its state on http://f.vision antidetect test website. Proceed with "Start advanced test" button after page loads and there you may see if user agent is substituted properly.

[2018-09-08 15:41] sachinjain024 commented on #47
Thanks @rtmcrc for providing more information. We debugged into this issue and user agent is correctly set by Requestly. However, there is a code in the page which makes an ajax call to this URL (http://f.vision/index.php/json_passive_ports) and as a response of this we get

[code]

And this again overrides the user agent. You may try to block this request using Requestly Cancel Rule and check if

[2018-10-02 10:58] sprlwrksAprilmintacpineda opened #48 "I get 307 response for preflight requests."
I want to redirect requests of my app to my mock server. Requests would be get, post, put, delete, etc. but I get `307 Internal Redirect` as response since the request would send out a preflight request.

[2018-10-03 04:17] sachinjain024 commented on #48
Hi @sprlwrksAprilmintacpineda Can you please share your rules with us (https://www.requestly.in/blog/2018/06/14/share-rules-with-other-users/) and we will gladly look into this issue. If you want to keep your rules private since this is a public repository, you can send us an email on `requestly.extension@gmail.com`

[2018-10-15 21:57] caviyacht opened #49 "[FR] Inject HTML/CSS"
I don't know if this is in the road-map currently, but it would be nice to be able to inject HTML/CSS as we can already with JavaScript.

I am currently using another extension that is very old and has never been updated to do this and would like to get rid of it and just use requestly.

Here is what is currently being used.  It works a little like requestly, but really meant for injecting markup/

[2018-10-22 05:13] sachinjain024 commented on #49
Thanks, @caviyacht for the feature request. This is indeed in roadmap. We will keep you posted here when this feature will be available.

Justin, would you be available for quick talk about Requestly since you are using it from long time. My skype id is sachinjain024.

[2018-11-29 00:02] l4nd0r opened #50 "[feature request] Keyboard shortcut"
Hi..
Thaks for the cool plugin.
One thing i am missing is the possibility to switch the user agent with a (configurable) shortcut.
Would be nice to be able to configure a shortcut for a defined useragent. If you press the button you switch the UA to something and create a rule for that website implicit.

Thank You

[2018-11-30 08:08] sachinjain024 commented on #50
Hi @rolandg

Thanks for opening the ticket. This is indeed in roadmap but we have planned this feature to be part of features under premium subscription.

[2018-11-30 15:25] yasinguzel opened #51 "Sharing Rule Doesn't Working"

[2018-11-30 19:05] yasinguzel commented on #51
Step to produce:

- Open insert script rule.
- Share rule and get the link.
- Open link in another chrome user.

Then rule does not work. I tried to open the same rule in another chrome user. That worked.

[2018-12-03 01:38] rolandg commented on #50
good to know.
Thanks

[2019-04-26 20:52] ssedrick opened #52 "Replace rule does not keep extra headers"
I'm trying to redirect a url from `localhost:4200/ds/` to `localhost:8443/`. The redirect is fine, using a replace rule, but the headers (not modified in requestly at all) are not being passed to the new request.  The headers are authentication headers, so they are vital to the functioning of the API.
Is this something requestly can fix? Or is this a browser/http limitation?

[2019-04-27 04:22] sachinjain024 commented on #52
@ssedrick I need to know a few more things from you before I can provide more help on this.

Q1. How is authentication header passed to localhost:4200 before you set up the replace rule in Requestly?
Q2. Is authentication done manually or headers are passed via code?

[2019-04-29 20:14] ssedrick commented on #52
@sachinjain024 I think I figured out the root issue. CORS wasn't handled correctly in my server code running on `:8443`. Once I set up CORS, it started working. Thanks!

[2019-04-29 20:14] #52 closed

[2020-02-16 05:34] requestly-team commented on #51
Apologies @yasinguzel for missing out on this. You can share rules with users who have Requestly installed. If you try to open Shared Link with a user who doesn't have Requestly, it won't open. We are going to enhance that functionality in the near future. Was that case with you?

[2020-02-19 01:53] requestly-team commented on #51
@yasinguzel We are closing this issue for now. If you are still facing this, feel free to reopen.

[2020-02-19 01:53] #51 closed

[2020-02-19 01:58] requestly-team commented on #49
@caviyacht Apologies, We forgot to update you. We added the support for CSS almost an year back. Check this screenshot

<img width="1064" alt="Screenshot 2020-02-19 07 27 13" src="https://user-images.githubusercontent.com/35186614/74794469-4e231100-52e9-11ea-941d-eca611771593.png">

Adding support for HTML is quite tricky and is not being asked by many people. Therefore we kinda kept it in backlog

[2020-02-19 02:00] requestly-team commented on #47
@rtmcrc Can we close this ticket?

[2020-02-19 02:04] rtmcrc commented on #47
yes, thank you

[2020-02-19 02:16] requestly-team commented on #47
Thanks a lot, @rtmcrc. Can you please rate us on Chrome Store - https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa?hl=en

[2020-02-19 02:16] #47 closed

[2020-03-05 19:45] fatalis opened #54 "Websocket handshake modification"
Please add `ws://*/*` and `wss://*/*` to permissions so that we can modify headers of the websocket handshake, thanks!

[2020-03-06 10:37] requestly-team commented on #54
Thanks @fatalis for logging this issue. We have added this in our backlog. Please watch this ticket for updates.

[2020-03-08 21:20] carpii opened #55 "Cannot apply a Request Redirect rule, after a Replace Host rule"
I have a Replace Host rule which replaces domain.com with old.domain.com

I then have a Request Redirect rule which redirects old.domain.com/something to old.domain.com/somethingelse

It seems like Requestly will only run the first rule, and then stop processing (the 2nd rule never kicks in).

[2020-03-21 23:36] carpii commented on #55
The two rules are as follows...

[code]

[code]

[2020-03-22 12:02] requestly-team commented on #55
Hey @carpii Thanks for reaching out. We made a change back in Jan'2018 for performance reasons that two rules won't be applied to a single request URL.

Here's the article we published explaining the difference between Multiple Pairs and Multiple Rules in Requestly - https://medium.com/requestly-docs/multiple-rules-vs-multiple-modification-pairs-in-a-single-rule-in-requestly-f3ec5b1559ff

You can

[2020-03-23 20:17] carpii commented on #55
@requestly-team Thanks for the reply, and sample rules

I didn't know you could chain rule actions like this, which is pretty cool.
It is working a lot better, but still not 100%... if I type reddit.com into my Chrome address bar, the rules forward me https://old.reddit.com but the last rule (in your shared rule) does not then redirect it to /hot

Once it has loaded, clicking the Best tab on reddi

[2020-03-24 04:00] requestly-team commented on #55
Thanks @carpii for getting back on this. This looks like a bug on our end. We are looking into it. Will keep you posted.

[2020-03-25 05:20] requestly-team opened #56 "Redirect URL to proxy server with original URL as parameter"
Moving from Twitter to our support forum. Here's the Original Twitter Post - https://twitter.com/zxckurni/status/1242652413112119297

<img width="603" alt="Screenshot 2020-03-25 10 49 45" src="https://user-images.githubusercontent.com/35186614/77504482-7b358700-6e86-11ea-83e0-b0cd59fe8c9b.png">

[2020-03-25 05:27] requestly-team commented on #56
You can use our Redirect URL with Filters to achieve this use case.

Here's an example
<img width="1086" alt="Screenshot 2020-03-25 10 54 13" src="https://user-images.githubusercontent.com/35186614/77504753-39f1a700-6e87-11ea-917b-28f38d0127ba.png">

You can also setup additional filters just in case you want to pass just one website via proxy like this.

<img width="847" alt="Screenshot 2020-03-2

[2020-03-25 06:49] requestly-team commented on #55
@carpii We checked on this. There was a small modification required in order to make this work.

<img width="1089" alt="Screenshot 2020-03-25 12 14 54" src="https://user-images.githubusercontent.com/35186614/77509175-45969b00-6e92-11ea-8813-b19ca125fe61.png">

Please import this list - https://app.requestly.in/rules/#sharedList/1585118604094-Reddit-Rule-v2

This is the justification

When we inter

[2020-03-25 20:30] carpii commented on #55
@ requestly-team this is now working

Thanks for the great support, will be renewing Premium when the time comes.

Cheers

[2020-03-25 20:31] #55 closed

[2020-03-26 06:41] requestly-team commented on #55
Thanks @carpii for the response. Love to hear you will be renewing premium plan.

Can you please rate our product & response on Chrome Store - https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa?hl=en ?

[2020-03-26 14:09] requestly-team opened #57 "Add current date as query param in a page URL"
Every day I need to access an URL that contains the current date (report).
Can I add this dynamic value in URL?

https://business.facebook.com/adsmanager/manage/campaigns?attribution_windows=default&date=2020-02-01_2020-03-04&filter_set=CAMPAIGN_GROUP_DELIVERY_STATUS

Parameter "date" is a range. I need to replace the end date with current date:

Ex.: If I run today (Mar 25) ➜ date=2020-02-01_2020

[2020-03-26 14:30] requestly-team commented on #57
Hey Eduardo,

You can use [Insert Script feature](https://medium.com/requestly-docs/inserting-scripts-dynamically-in-a-webpage-be4af90da20a) to write a small snippet which manipulates the date query param and updates the end date as today's date.

Here's the snippet you have to use on business.facebook.com

[code]

Here's long story short. We have created the rule for you. Please follow these step

[2020-03-26 15:14] scheduardo commented on #57
Tks.

The end date has changed to Mar 23. Today is 26. Why?

Regards,

[2020-03-26 15:19] requestly-team commented on #57
Hey @scheduardo Can you please share the page URL which you opened and the URL which you got. Since we don't have a facebook business account, it is difficult to try it out at our end.

[2020-03-26 15:23] requestly-team commented on #57
For Example - We just opened

https://business.facebook.com/?attribution_windows=default&date=2020-02-01_2020-03-04&filter_set=CAMPAIGN_GROUP_DELIVERY_STATUS

And It redirected successfully to

https://business.facebook.com/?attribution_windows=default&date=2020-02-01_2020-03-26&filter_set=CAMPAIGN_GROUP_DELIVERY_STATUS

**Note** Intentionally removed /adsmanager/manage/campaigns so it actually do

[2020-03-26 18:11] scheduardo commented on #57
The current page is:

https://business.facebook.com/adsmanager/manage/campaigns?act=1&business_id=2&attribution_windows=default&column_preset=2858463370842840&date=2020-02-01_2020-03-04&filter_set=CAMPAIGN_GROUP_DELIVERY_STATUS-STRING_SET%1EIN%1E[%22active%22%2C%22deleted%22%2C%22inactive%22%2C%22off%22%2C%22pending%22]%1Dcampaign.impressions-NUMBER%1EGREATER_THAN%1E%220%22%1DSEARCH_BY_CAMPAIGN_GR

[2020-03-27 02:03] requestly-team commented on #57
Hey @scheduardo

What happens If you manually change the date in above mentioned URL to &date=2020-02-01_2020-03-27. Does facebook allow it?

Just open the below link directly. I have changed the end date to 2020-03-27 below.

https://business.facebook.com/adsmanager/manage/campaigns?act=1&business_id=2&attribution_windows=default&column_preset=2858463370842840&date=2020-02-01_2020-03-27&filter_se

[2020-03-27 13:01] scheduardo commented on #57
Yes. I can do it:

See https://www.screencast.com/t/3JAoqyzPBAD

[2020-03-27 15:44] requestly-team commented on #57
Thanks @scheduardo for the link. I have made some fixes in the script.
Please import the rule again from this link - https://app.requestly.in/rules/#sharedList/1585323648791-facebook-business-v2

And try again. Here's the summary of change made in the script
- Try to change the param after 2second of page load instead of before page load
- Check if URL already has the latest date as end date then

[2020-03-27 18:22] scheduardo commented on #57
GREAT!

Now it's working.

Tks a lot!

--
Eduardo Schurtz

Em sex., 27 de mar. de 2020 às 12:44, Requestly Team <
notifications@github.com> escreveu:

[2020-03-28 07:04] requestly-team commented on #57
Awesome! @scheduardo Can you please rate us on Chrome Store - https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa?hl=en

[2020-03-28 07:04] #57 closed

[2020-03-28 21:30] carpii commented on #55
@requestly-team - no probs. It turns out I had already submitted a review some time ago, but have edited it and resubmitted, so it appears more recent.

[2020-03-29 04:32] requestly-team commented on #55
Thank you so much @carpii for the feedback. We will brainstorm about providing rule priority feature.

[2020-04-06 15:29] requestly-team opened #58 "Need help with Replace Rule - SharePoint URL"
Hi,

I've recently come across your app and I'm just wondering if you could assist me in setting this up? I would like to replace the following URL:

https://example.sharepoint.com/*.docx

with this one:

ms-word:ofe|u|https://example.sharepoint.com/*.docx

And only replace it when there's a wildcard of .docx in the URL.

How can I go about this?

[2020-04-06 15:42] requestly-team commented on #58
Hey,

We have created a Replace Rule for you achieving this use case. Here is it - https://app.requestly.in/rules/#sharedList/1586187556563-Replace-Default-App-MSWord-for-SharePoint-Docs

You can open this list by just clicking on "Import List" button.

But since we didn't have the real example and the MS Word app installed, the redirection is not working as the request is getting cancelled.

Here

[2020-04-21 08:14] raymondlowe opened #59 "file: to https:"
How to use it to change or redirect a url like "file://www.google.com" to "https://www.google.com"

In some situations when I open a HTML file from my c: drive that has links to "//www.google.com" they get turned into "file://www.google.com" and so this fails which makes it hard to tell if the page is ok.  If I could just take all URLs with "file:" and turn that into "https:" it would allow testin

[2020-04-22 04:36] requestly-team commented on #59
Thanks @raymondlowe for logging an issue. File protocols are tricky. We are working with our engg team to figure out if there can be solution using [Replace Rule](https://docs.requestly.io/docs/using-rules/replace-rule/)

[2020-04-22 13:51] requestly-team commented on #59
Hey @raymondlowe

We explored how to achieve this use case. This is possible using Requestly but require slight changes in our permissions.

Right now, we can't redirect `file://` URLs because we haven't specified permission to intercept file based URLs.

We have made the changes now. We will upload the build to Chrome store in the next 1-2 days but Chrome team typically takes 3-4 weeks to review

[2020-04-22 14:03] requestly-team commented on #49
@caviyacht Closing this ticket. Feel free to reopen if you have any questions/concerns.

[2020-04-22 14:03] #49 closed

[2020-04-22 14:04] requestly-team commented on #45
Closing this ticket due to lack of response. Please reopen if you have any questions/concerns.

[2020-04-22 14:04] #45 closed

[2020-04-22 14:05] requestly-team commented on #32
Closing this ticket due to lack of response. Feel free to reopen to start discussion on this.

[2020-04-22 14:05] #32 closed

[2020-05-04 21:46] carpii opened #60 "Where are rules stored?"
Could you clarify where Requestly rules are actually stored please?

Are they just stored locally in my extension (and then Chrome itself syncs them to other machines via my Google account).

Or are rules always stored on Requestly servers, and so each of my machines logs in and downloads them from there?

[2020-05-04 21:49] carpii opened #61 "[feature request] localtime condition"
Would be great to have a condition which evaluates local time

This would suddenly allow the extension to be used as a productivity or site blocker, instead of having to find a separate extension.

ie.. you could then redirect a bunch of social media urls to somewhere else, but only when its between 08:00 and 19:00

[2020-05-06 04:40] requestly-team commented on #60
Hey @carpii

By default, all rules are stored in Chrome Local Storage and If you login into Chrome on multiple devices these rules are synced to other devices by Google Sync Service.

As of today, Rules are not stored on Requestly Servers.

However, When you share a list of rules with other users then those rules are stored on our servers and we generate a link for those rules which can be shared

[2020-05-06 04:41] requestly-team commented on #58
Closing this issue due to lack of response from OP.

[2020-05-06 04:41] #58 closed

[2020-05-06 04:42] requestly-team commented on #56
OP has acknowledged that suggestion worked for him/her. Closing this issue.

[2020-05-06 04:42] #56 closed

[2020-05-06 04:43] requestly-team commented on #61
Thanks @carpii for the feature request. Adding this to the backlog.

[2020-05-06 11:21] carpii commented on #60
@requestly-team Thanks guys!

[2020-05-06 11:21] #60 closed

[2020-05-06 13:53] hFire24 opened #62 "Import not working properly"
I exported a requestly file and modified it. When I tried to import it, the import will delete itself probably due to errors. Is there a way to find out why the requestly export won't import? It's kind of like the errors someone would get when compiling Java code.

[2020-06-03 18:56] alonhartman opened #63 "custom script character limitation"
Hi,
First, please let me just say that your add-on is amazing and is so helpful in my work.
I have a question/enhancement:
Sometimes I need to inject scripts which may reach even more than 1000 characters, so I'd like to know if there is an option to expand the character count limitation from 500 to more than that?

Thanks a lot,
Alon.

[2020-06-04 04:00] requestly-team commented on #63
Hey @alonhartman We are so glad to know that you love Requestly. A happy user is the most precious asset for any product.

Actually, we store the rules locally in the Chrome Storage and chrome storage has constraints on the size of an object. Therefore, we had to restrict it to 500 characters.

Here's an alternative you can try
1. Use Requestly Library - https://app.requestly.io/library/ to create

[2020-06-04 04:02] requestly-team commented on #46
@sreevisakh This is an older issue but I guess we have a couple of solutions to improve the experience here.

1. User can mark certain rules as favourite (Notice the heart icon in Rule row) and the rule can be toggled from Requestly Popup. No need to enable disable the entire extension.
2. User can do right click on extension icon and do deactivate/activate from there.

Can we close this ticket no

[2020-06-09 14:05] Plushfire5 opened #64 "How does "Replace Host" rule work?"
I've read the documentation ( https://docs.requestly.io/using-rules/replace-rule ) but I don't quite understand it, so I would like to ask if somebody can help me with my case.

I have this URL

`https://ext.packagetrack.com/api/helper.php?carrier=(*1)&trackingnumber=(*2)`

which when opened, I want it to redirect to this one

`https://t.17track.net/es#nums=(*3)`

where:
(*1) would change everytim

[2020-06-09 15:32] requestly-team commented on #62
Hi @hFire24,

Although we highly recommend modifying rules through dashboard only, if you really want to modify the exported file, please ensure that object structure and constraints aren't affected.

For example, some keys like "value" can accept only strings starting with "http:" or "https" when the "operator"  is set to "Equals".

Currently, there is no way to log such errors during import but

[2020-06-09 16:41] requestly-team commented on #64
Hi @Plushfire5,

There are multiple ways to achieve your use case. Let`s discuss the simplest one.

First create a Modify Query Parameter Rule to remove parameter "carrier" (since it would change every time and isn't required in our target URL)

Request `URL` `Contains` `https://ext.packagetrack.com/api/helper.php?carrier=`
`Remove` Param `carrier`

Then, create a Replace Host Rule to replace part

[2020-06-09 17:00] Plushfire5 commented on #64
Hello,

This works, altough not exactly for my case, due to how the Chrome extension works. If I open a link with the carrier parameter, it will be removed, but then the extension will go to a different page of its own, but if I copy and paste a link with the carrier parameter already removed, it will go directly to 17track. This issue is not related to Requestly though, so I'll see if I can find

[2020-06-16 08:02] pszemus opened #65 "<script class="__REQUESTLY__SCRIPT">... added to response"
Hi
My Requestly Chrome plugin is configured to modify headers in HTTP response:

- Modify -> Response -> Header: Content-Type -> Value: text/xml
- Request: Path -> Contains: .mpd

It worked well for quite some time but recently I've noticed that responses for .mpd files have added
[code]
in their body.

Sample URL: https://storage.googleapis.com/shaka-live-assets/player-source.mpd
and response:
![

[2020-06-16 08:11] requestly-team commented on #65
Hey @pszemus, Thanks for logging this issue. This is supposed to be inserted in the documents (Web pages) in order to support a new feature we have introduced recently to modify the response of AJAX requests

Is this breaking something for you? We will look into this on an urgent basis.

[2020-06-16 08:15] pszemus commented on #65
I'm using Requestly to view contents of .mpd and .m3u8 files inside my browser. For that I need to modify response's Content-Type header as described in this issue.
That inserted <script> does not break anything except that there's an extra content inside response that I'm viewing.

[2020-06-18 03:41] requestly-team commented on #65
@pszemus We have identified and fixed the issue. Since this is not blocking anything, we are not rolling out a hotfix. Ret assured, this will be available soon with our next release in Chrome Store. Thanks once again for the details.

[2020-06-26 20:38] LDY681 opened #66 "How to get Modify header to work with Redirect request?"
Hi, I am trying to replace an image on a website with my own.
However, this action was blocked due to CORS policy.
So what I tried to do is add a response header which set Access-Control-Allow-Origin to *.
However, it still seems to not work. The error is still:
Access to image at 'https://www.otherwebsite.com/replaceImage.png' (redirected from 'https://www.originalwebsite.com/originalImage.jpg')

[2020-06-27 14:56] requestly-team commented on #66
Thanks @LDY681 for providing the details. We are looking into it.

[2020-06-28 06:08] requestly-team commented on #66
Hey @LDY681

You should update your Modify Header Rule to work on the new URL (destination URL mentioned in the Redirect Rule) instead of the Source URL.

So your header rule should look something like this

[code]

Can you please try this and let us know if this works for you?

[2020-06-28 16:51] LDY681 commented on #66
Do you mean Url -> Contains ->  https://avos-cloud-gwibfiplqh86.s3.amazonaws.com because that would be my destination URL in the Redirect Rule (redirect request.txt).

[2020-06-28 17:00] LDY681 commented on #66
I just changed to my destination URL and now it's working! Thank you for your help!

[2020-06-28 17:00] #66 closed

[2020-06-30 04:10] requestly-team commented on #66
@LDY681 Glad we could help. Can you please rate us on Chrome Store - https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa?hl=en

[2020-07-02 11:08] harrysingh opened #67 "[IOS] [App] UI/UX Feedback"
Feedback for IOS App
* default size of screen can be based on resolution etc. As users are used to browser window size, so the content fits in well there.
* As of now, in default mode it gets bit clumpsy. (Image 1)
![image](https://user-images.githubusercontent.com/544914/86351450-2342b500-bc19-11ea-8f93-d4f9b1e8cd18.png)
* Change in line item width on hover causes flickery experience because stat

[2020-08-13 09:20] CubikNeRubik opened #68 "Files stored at requestly.page.link can't be inserted to the page."
Hi,
I have an insert rule that inject file stored at your side.
Before link was in format `https://requestly.page.link/<some hash>`
Now when I try to open it I get a redirect to `https://firebasestorage.googleapis.com/<some params>`

Now all insert rules that use old link format get error
![image](https://user-images.githubusercontent.com/15522719/90116260-e8768580-dd5d-11ea-8341-cafa116e9ada.png)

[2020-08-14 03:53] requestly-team commented on #68
Thank you @CubikNeRubik for logging this issue. Our team is looking at it and working on the solution. Will keep you posted.

[2020-08-14 03:57] requestly-team commented on #59
Closing this ticket due to inactivity.

[2020-08-14 03:57] #59 closed

[2020-08-14 09:41] requestly-team commented on #68
Hey @CubikNeRubik, We used Firebase service for generating the shortened links and they have started to create an issue now. We are reaching out to Firebase to help with a permanent resolution. Also, we are exploring if there is anything which we can do from our side. In the meantime, can you please try this interim fix.

Here is the sharedList - https://app.requestly.io/rules/#sharedList/15973972

[2020-08-14 19:56] CubikNeRubik commented on #68
Hey @requestly-team
Thanks for the fast reaction. Hotfix works well

Waiting for a general solution)

[2020-09-06 10:05] requestly-team opened #69 "Unable to open zikanalytics in Iframe"
Query from User

[code]

![image](https://user-images.githubusercontent.com/35186614/92323469-a12a9e80-f056-11ea-8067-077064e80c28.png)

[2020-09-06 10:10] requestly-team commented on #69
Thanks for submitting the issue. We investigated zikanalytics.com and it is using another response header content-security-policy like this

[code]

So In order to open https://www.zikanalytics.com in Iframe you also need to remove this header, here is the rule which we created

https://app.requestly.io/rules/#sharedList/1599386953133-iframe-buster

You can try to open this after importing above r

[2020-09-06 10:11] requestly-team commented on #69
Here's a screenshot showing zikanalytics.com in an Iframe using Requestly Modify Headers rule

![image](https://user-images.githubusercontent.com/35186614/92323558-6412dc00-f057-11ea-8f08-dc0c44e18962.png)

[2020-09-07 13:33] jayfinley commented on #69
Thanks

This loads website fine, but I am unable to login to the site using iframe.

Once I enter login details the screen hangs like its trying to login but never completes.

Are there any further steps needed?

[2020-09-08 06:21] requestly-team commented on #69
Hey @jayfinley! We investigated into this problem. There are a few issues we found with this site

The Site is sending SameSite=Lax; Secure as set-cookie in the response header. Read more about it.

Right now, Requestly provides functionality to modify the headers but it requires much more control over cookies. It requires you to modify the existing value of cookie and specify SameSite=None; secur

[2020-09-08 16:55] jayfinley commented on #69
Thanks any suggestions to do this

would something like this in conjunction with Requestly achieve it?

https://chrome.google.com/webstore/detail/cookie-editor/iphcomljdfghbkdcfndaijbokpgddeno?hl=en

[2020-09-10 14:14] requestly-team commented on #69
Hey @jayfinley Cookie Editor doesn't work because Cookie Editor allows to modify already set cookie or set cookies. But the requirement here is modify cookie on the fly something like Requestly does.

As I mentioned above, we need to remove SameSite=Lax and change it to SameSite=None. Unfortunately, we don't have the capability to replace something in the header value which is needed in this case.

[2020-09-10 14:20] requestly-team commented on #65
Hey @pszemus, We have released v20.9.9 and can you please check if it is still happening in the latest version.

[2020-09-10 14:23] pszemus commented on #65
Now everything looks right! Thank you.

[2020-09-10 16:29] jayfinley commented on #69
OK any chance this will ever be a feature of Requestly?

If sites decided to use the same method Iframes would stop working for login side.

Thanks for your help :-)

[2020-09-16 12:55] requestly-team commented on #69
@jayfinley This is not a very common use case. We have added this in our roadmap but we are not very sure if we will plan this in near future.

Can we close this ticket or is there anything else on which you need assistance?

[2020-09-16 12:55] #65 closed

[2020-09-16 12:58] requestly-team commented on #63
hey @alonhartman

Did you get a chance to look at the proposed solution? We are now planning to store the scripts given by user to be uploaded in the library anyways and hence this 500 characters limit thing will be gone soon.

[2020-09-21 08:12] KarenEfereyan opened #70 "Two Broken Links in Website"
Hello team @requestly-team . I found two broken links in the [requestly website](https://requestly.io/)
![requestly](https://user-images.githubusercontent.com/56835876/93744919-84f83700-fbea-11ea-967b-4e59e094d746.png)
Please look into it as soon as possible. Nice work on this project by the way

[2020-09-21 08:18] sachinjain024 commented on #70
Thanks, @KarenEfereyan for logging this. We will fix this soon.

[2020-09-21 09:39] #70 closed

[2020-09-21 09:40] KarenEfereyan commented on #70
Okay Sanchin. Well done by the way

[2020-10-21 04:40] #69 closed

[2020-10-26 07:27] petar-nikov opened #71 "[IOS] [App]on open results in WSOD (blank screen)"
When opening Requestly on Desktop it results in blank screen with following errors reported in dev tools:
[code]

[2020-10-30 15:11] requestly-team commented on #71
Thank you @petar-nikov for logging this issue. Our team is looking at it and working on the solution. Will keep you posted.

[2020-10-31 20:54] petar-nikov commented on #71
@requestly-team Thank you,  if you need more information let me know.

[2020-11-03 10:31] alonhartman commented on #63
Hi,
Sorry for the late response.
Using the Requestly Library is not a good option for me because my rule contains 2 parts.
1. A URL for a script located on my Companys' amazon S3 bucket and this script is updated all the time
2. A set of configurations for the script to work by (overriding some of the default configurations given in the script) - This is the part where the limitation really bother

[2020-11-03 12:51] requestly-team commented on #63
@alonhartman Can you use the JS uploaded on your company's S3 URL directly inside the script rule ? So Instead of using Custom Code section, start using JS URL and use S3 URL?

[2020-11-04 18:38] alonhartman commented on #63
Hi,
Thanks for the quick reply.
Maybe I didn't explain my issue the best way so, please let me clarify.

I do use the uploaded js file from the S3 but since it's a script which can use different configurations (there's a set of default configurations defined in the script) and I need to change the configurations almost every time I use it, I have built a rule that looks like the attached screensho

[2020-11-05 04:13] requestly-team commented on #63
Hey @alonhartman,

Thank you so much for explaining this. I have one question/doubt based on your previous statement

If you use Requestly Library and create the JS file in Library for just the configuration part, then it should solve your problem. So the Idea is like you said, you will include two JS Files in one script rule as shown in the screenshot above

1. Create a JS File in Requestly Libra

[2020-11-07 15:26] jayfinley opened #72 "X-Frame For Ebay"
Hello

Is there anyway to embed ebay.com /co.uk into an X-Frame?

I am able to access the page with a basic remove but am unable to login without error messages.

Thanks :-)

[2020-11-09 10:59] amudha-git opened #73 "Requestly App not opening for Indian Users with some ISPs (Excitel)"
https://app.requestly.io/rules/ not loading for me..
 It loads for other colleagues..!! Any way to identify the cause of this issue ?

[2020-11-09 12:28] requestly-team commented on #72
Hi @jayfinley !

Thanks for opening the issue. Many websites prevent to be loaded via third party site frame of an X-Frame.

Here's what you can try:

- Removing `X-Frame-Options` header
- Modifying `set-cookie` header to enable third party cookies. Try this value: `SameSite=None; Secure`
- Setting `Access-Control-Allow-Origin` header to `*` to ensure CORS
- Adding `sandbox` attribute to X-Frame t

[2020-11-09 12:29] requestly-team commented on #73
Thanks @amudha-git  for opening the issue. We are looking into it.

[2020-11-09 13:37] jayfinley commented on #72
Thanks

Can you provide a sample config file that achieves this?

Im not sure Im applying the settings correctly.

[2020-11-10 01:00] requestly-team commented on #73
Hey @amudha-git We are working with Firebase Support team over this. They have confirmed that Firebase is not working with certain ISPs in India only.

![image](https://user-images.githubusercontent.com/35186614/98614329-32034c00-231e-11eb-991c-87c482d7b023.png)

Here is the official Firebase Status dashboard link which reflects the above statement - https://status.firebase.google.com/

[2020-11-10 07:16] amudha-git commented on #73
Hi Requestly/Customer-Support,
 Thanks for your speedy response. Developers response time is greatly
appreciated!!

Thanks,
Amudhavigneshwaran

On Tue, Nov 10, 2020 at 6:30 AM Requestly Team <notifications@github.com>
wrote:

[2020-11-10 07:49] requestly-team commented on #73
Hey @amudha-git

We have made some changes on our end. It has started to work for some of our users. Can you please check at your end once?

[2020-11-10 08:35] amudha-git commented on #73
Yeah it’s working fine. Thanks :)

On Tue, Nov 10, 2020 at 1:19 PM Requestly Team <notifications@github.com>
wrote:

[2020-11-11 07:46] requestly-team commented on #73
Thanks @amudha-git for confirmation. Closing this issue.

[2020-11-11 07:46] #73 closed

[2020-11-23 11:49] alexey-danilin opened #74 "Layout overlaps"
![image](https://user-images.githubusercontent.com/48120766/99958835-162a8c00-2d9b-11eb-8dbb-852e4d40e904.png)

[2020-11-23 12:21] requestly-team commented on #74
Hi Aleksei,

Thanks for reporting this issue. Our team is working on it.

[2020-11-23 20:23] russellrain opened #75 "Compact view"
The new UI is very spread out, it would be nice if there was a compact view available (with lots of rules it starts to take up a lot of screen real estate)

[2020-11-23 21:19] requestly-team commented on #74
Hey Aleksei,
We've made some changes. Can you please clear the cache and try again?

[2020-11-23 21:32] requestly-team commented on #75
Hi @russellrain

Thank you for your suggestion on improving our dashboard.

We welcome your involvement and will certainly consider implementing this in future releases.

-
Team Requestly

[2020-11-24 08:24] alexey-danilin commented on #74
Cleared cache, cleared site data, relogged twice. Didn't help =(

Btw it's on Chrome Version 87.0.4280.66 (Official Build) (64-bit) if it important.

+ Here some props if it important:
![image](https://user-images.githubusercontent.com/48120766/100067583-80006f80-2e47-11eb-8049-2a233227d41c.png)
![image](https://user-images.githubusercontent.com/48120766/100067654-98708a00-2e47-11eb-81c0-08d417d14

[2020-11-24 10:33] requestly-team opened #76 "Forgot Password Link is not working"
![image](https://user-images.githubusercontent.com/35186614/100082753-a38ae080-2e6e-11eb-83f8-d82fbb706778.png)

[2020-11-25 19:45] Tyson1986 opened #77 "Add example how to use Modify using JavaScript feature."
I still don't understand how does it work. Documentation here (https://docs.requestly.io/using-rules/modify-ajax-response-rule) doesn't have any example. I assume that you override window.fetch, but even "return {}" doesn't work for me. Please provide an example of how can I modify a JSON in response.

[2020-11-25 21:04] requestly-team commented on #74
Hi Aleksei!

Thanks for providing us the details. We have again updated the page.

Should be fixed by now.

Cheers!
Team Requestly

[2020-11-26 07:52] alexey-danilin commented on #74
Yep, it's good now =)

[2020-11-26 07:52] #74 closed

[2020-11-26 09:03] icditwang opened #78 "a question of insert script rule"
Is there any wrong in the configuration of this rule?Why it can't work?Please help me.
![image](https://user-images.githubusercontent.com/32595964/100329917-40818100-3009-11eb-9518-a228f9070f66.png)

[2020-11-26 10:19] requestly-team commented on #78
@icditwang You don't need to insert jQuery and Underscore libraries because you are providing your own source of JS.

[2020-11-26 10:21] requestly-team commented on #77
@Tyson1986 As mentioned in the document, Modify response currently works only for AJAX requests sent via XMLHTTPRequest. Currently ajax requests sent by fetch is not supported. We are working on supporting response modification via fetch. It will be shipped soon.

[2020-11-26 10:23] requestly-team commented on #74
Hey @alexey-danilin Thank you so much for raising this issue and helping us get this fixed. You're awesome. Can you please rate us on Chrome Store - https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa?hl=en

[2020-11-26 10:39] icditwang commented on #78
I delete it and open {http://localhost:9110/statusi/api},it doesn't work also...,is there any log?

[2020-11-26 10:56] requestly-team commented on #78
@icditwang This is because you have mentioned Host Contains `statusi`. In your localhost URL, `statusi` is not part of host. can you please change that condition to `URL` `Contains` `statusi` and try again?

[2020-11-28 12:17] requestly-team commented on #71
Hey @petar-nikov. Sorry for the delayed response. We have fixed this issue in v0.0.6-beta. Can you update the app and try again.

[2020-11-30 19:46] joeynigro opened #79 "No Premium please"
Can you please retire the premium subscription, so people will do Requestly for free.

[2020-12-01 18:44] ZGNet opened #80 "Please enter a source"
I have created a rule that was last modified on OCT 03 2019
That cancel requests, and it still works but I cannot add any new rule because of the message "Please enter a source"
And all pairs in that's rule looks like empty, but still working like in 2019.
I have attached a file with a screenshot how it looks.
![aaaa](https://user-images.githubusercontent.com/75332700/100783092-a0af6300-340d-11eb-

[2020-12-02 07:17] MonwF commented on #77
any plan to support modifying response header? ex: add cookie, location

[2020-12-02 23:05] davidtableau opened #81 "incorrect count of files"
I only have 4 files in requestly yet I get the "updated required" error that says I've surpassed the limit of 5 files.

[2020-12-04 02:42] jseminck opened #82 "Modify or enable/disable rules programatically?"
Hello, first of all thanks for the great tool. I have a question, is it possible to change the rules or enable/disable a rule programatically? I'm trying to optimise my workflow and it would be great if I could enable/disable rules or even add/remove certain rules from the command line.

Thanks,
Joachim

[2020-12-06 21:01] Tyson1986 commented on #77
Fetch usage was an assumption. A few of my colleagues and I didn't succeed in the usage of this feature. Could you add any example in the documentation of how to use this feature?

[2020-12-07 06:57] petar-nikov commented on #71
@requestly-team Thank you it's fixed

[2020-12-07 06:57] #71 closed

[2020-12-10 12:57] serwap opened #84 "no conversion from https to file"
Hello, I would like to translate https links (on svn server) to corresponding URLs on my local drive (file:/), but it seems it is not working for conversion to file:/ urls.

[2020-12-13 15:26] requestly-team commented on #84
Hi @serwap, Thanks for logging this issue.

As of now, browsers do not allow an extension to redirect to file:// URLs. We will keep you posted here incase we find any workaround.

Closing this ticket for now. Feel free to reopen if you have any questions.

[2020-12-13 15:26] #84 closed

[2020-12-15 13:35] ayanamist opened #85 "requestly.io & app.requestly.io is inaccessible"
Chrome 87.0.4280.88 & Edge 87.0.664.60 both prompt ERR_SSL_VERSION_OR_CIPHER_MISMATCH
![image](https://user-images.githubusercontent.com/406779/102221770-81d8c280-3f1d-11eb-8de8-ab8cb47b35fb.png)

[2020-12-15 13:40] requestly-team commented on #85
Hey @ayanamist We are able to load requestly.io at our side. Can you please share your location where you are facing this issue. We will check with our servers if there's any outage for them at any particular location.

[2020-12-15 13:40] #85 closed

[2020-12-15 13:40] ayanamist commented on #85
Sorry, it seems it's my network issue.

[2020-12-15 13:41] requestly-team commented on #85
No Issues @ayanamist. Glad to know the issue is fixed for you.

[2020-12-15 14:10] ayanamist commented on #85
It's cloudflare's issue: https://www.cloudflarestatus.com/incidents/0pgbhs03slnq

[2020-12-19 01:45] requestly-team commented on #82
Hey @jseminck We are glad to know that you like Requestly. Currently, it is not possible to enable/disable a rule programatically. However, there is a Favourite Rule feature which will allow you to quickly toggle the rule without entering into Requestly UI.

Please check out the demo here - https://twitter.com/RequestlyIO/status/1261724115318132736

Let us know if it solves your problem.

[2020-12-19 01:46] requestly-team commented on #81
Hey @davidtableau

Thanks for notifying this issue. We're looking into it and will resolve this by today.

[2020-12-19 19:14] requestly-team commented on #81
Hi @davidtableau

We have made some changes to our end. Feel free to reopen this issue in case the issue still persists or you have any question.

[2020-12-19 19:14] #81 closed

[2020-12-27 09:54] mallowigi commented on #79
lol

[2020-12-30 13:53] paul-bell opened #86 "Size of JavaScript Program: Free vs Premium?"
In the free version there is a 1500 char limit on the modify response script.

If I subscribe to the premium version, is this constraint removed outright? If not, then is it at least raised to a larger number?

Please advise, thanks.

-Paul

[2021-01-04 19:05] requestly-team commented on #86
Hey Paul,

Thanks for logging this issue. We actually maintain a buffer to prevent reaching the Chrome's Sync Storage limits, so switching to a premium plan wouldn't solve this.

Per our conversation over email, we have experimentally increased the limit to 6,000 characters. Also, you may want to change the storage type to local, in your Requestly account settings.

Closing this ticket for now. Fe

[2021-01-04 19:05] #86 closed

[2021-01-12 23:01] steverawlins-zebra opened #87 "My Rules are Ignored"
I activated, for example, the Sample Rule to Block Social Media Sites.  Both the group and the specific rule are Enabled/Checked/ON

But I can still navigate to twitter.

What happened to the rule checking?
<img width="1243" alt="RequestlyBroken_1_rules" src="https://user-images.githubusercontent.com/52328771/104384833-c3966200-54f7-11eb-963d-294a3f94e9a5.png">

[2021-01-12 23:20] requestly-team commented on #87
Hey @steverawlins-zebra,

Thanks for logging this issue. The sample rule "Block Social Media Sites" has a Request Source filter set to Main Document only. Can you please try editing the rule to remove this filter and see if it works?

Team Requestly

[2021-01-13 05:01] steverawlins-zebra commented on #87
I removed that filter, saved, closed and tried and re-tried but still lets me go to twitter

[2021-01-13 06:26] requestly-team commented on #87
Hey @steverawlins-zebra!

Greetings from Requestly support team. Actually, Twitter uses ServiceWorkers and loads the home page from Cache and hence the request for Twitter home page cannot be intercepted and hence cannot be redirected or blocked.

Here's an example of a similar request where a user tried to add a query parameter to twitter.com and we explained why this was not working. This is spe

[2021-01-16 02:05] duradara opened #88 "Is there any wat to add a wait timer to the redirect request?"
I want to do something like this:

Detect URL -> wait x seconds -> then redirect to destination

Sorry if you dont understand me

[2021-01-16 09:36] requestly-team commented on #88
Hi @duradara,

As of now, it is not possible to add a delay in Redirect rule.

However, if you want to setup a basic redirect on a web page, you can always create a Insert Script rule to redirect using Javascript.

`
       setTimeout(function(){
            window.location.href = 'https://YouNewURL.com';
         }, 5000);
`

Let us know if that works for you.

[2021-01-16 13:39] #88 closed

[2021-01-26 04:36] drsood opened #89 "Script runs on Firefox, but not on Chrome"
Hi,
I wrote a java script code, which works great in Firefox, however chrome doesn't seem to run it at all.

`var xhr = new XMLHttpRequest();
 var url = "https://xyz.com";
 var data = "user=1234&pass=1234";
 xhr.open("POST", url, true);
 xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
 xhr.onreadystatechange = function () {
     if (xhr.readyState == 4 && xhr.status == 20

[2021-01-27 13:54] trizoza commented on #87
Hello there! The suggested solution above, did not work for twitter.com on Chrome version 88. twitter.com stays twitter.com. Any updates on this? Thanks!

[2021-02-01 16:01] tlckfeks opened #90 "My rules don't work after the latest update."
<img src="https://i.ibb.co/VH5PdXj/aaaaaaaaaaaa.png" alt="aaaaaaaaaaaa" border="0">

My rules don't work after the latest update.

[2021-02-02 13:32] requestly-team commented on #90
Hey @tlckfeks We haven't made any new release in last 3-4 months related to our extension. Can you please check the following

1. If your Requestly extension is enabled or not? Requestly Icon turns Grey when not activated.
2. Can you please share the screenshot of chrome://extensions page. It might be possible that some other extension has started to conflict with Requestly on this particular URL

[2021-02-02 13:40] requestly-team commented on #87
Hey @trizoza

We checked the script inside the sharedList, there was a condition set in the Script Rule code which works only when the URL contains 'status' word. I have changed the script and created a new sharedList for you here

https://app.requestly.io/rules/#sharedList/1612273132545-Add-parameter-to-Twitter

If you have Requestly Chrome Extension Installed, just click on above link and click

[2021-02-02 13:43] requestly-team commented on #89
Hey @drsood

Can you please share the exact rule which you are using? Also need to know the URL on which you are trying to run this script.

You can follow this guide to create a sharedList for your rule(s) - https://docs.requestly.io/managing-rules/sharing

[2021-02-02 13:47] requestly-team commented on #82
@jseminck Did you get a chance to look at the demo above? Does this solve your problem?

[2021-02-02 13:48] #79 closed

[2021-02-02 13:48] #72 closed

[2021-02-02 13:50] requestly-team commented on #78
@icditwang If this is resolved for you, can we please close this ticket?

[2021-02-02 13:50] requestly-team commented on #76
This was resolved and hence closing this!

[2021-02-02 13:50] #76 closed

[2021-02-02 16:10] jseminck commented on #82
Hello, thanks for the reply, and sorry for my late answer. I know about the favourite feature and I use it. But I have a need to enable/disable rules from the command line in order to speed up productivity even more. But if it's not possible then so be it. Thanks for the extension, it's a huge time-saver for me.

[2021-02-02 16:10] #82 closed

[2021-02-08 09:09] SebastianRasch opened #91 "Requestly blocks all internet traffic upon proxy activation"
On the macOS app, as soon as the desktop/terminal proxies are set, no internet traffic is let through anymore at all.
macOS 11.2, M1 MacBook Air, Requestly 0.0.6-beta

[2021-02-08 09:50] requestly-team opened #92 "How to replace query parameter in Google Analytics call?"
![image](https://user-images.githubusercontent.com/35186614/107203161-155fd880-6a21-11eb-86e6-d72d9fed272b.png)

[2021-02-08 09:57] requestly-team commented on #92
Hey, You can use Query Params Rule to modify the value of a query parameter. Here is the documentation for it - https://medium.com/requestly-docs/introducing-query-param-rule-d152b28eec08

Here is what is mentioned in FAQ 1 which should help you out.

[code]

[2021-02-08 10:07] dimitriDries commented on #92
Thanks! I seem to have got it to work.

Best regards.

[2021-02-08 10:08] requestly-team commented on #92
Thanks @dimitriDries Closing this ticket! Can you please rate us on Chrome Store - https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa?hl=en

[2021-02-08 10:10] requestly-team commented on #91
Hey @SebastianRasch

Thanks for logging the issue! We have explained in our Desktop App documentation - https://docs.requestly.io/desktop-app/how-to... that Requestly intercepts the network traffic and modifies the request based on the rules you have setup.

Can you please share the list of rules you have on your machine! You might have created a rule which could be blocking the network request. W

[2021-02-08 10:36] SebastianRasch commented on #91
No rules as of yet, just installed the app. But maybe that's exactly the problem? Is everything being blocked if there aren't any filters?

I added a filter just now and it seems to work, albeit differently than in the browser extension. It seems that my complete traffic is sent through the proxy now, rendering my adblocker useless. Any way to only route the parts that are affected by my filters t

[2021-02-08 15:52] #92 closed

[2021-02-08 15:55] requestly-team commented on #91
Hmm then it must be related to Certificate Issue. We'll try to check on our end once. So basically Requestly intercepts every request but shouldn't block anything if there is no rule setup.

I think it needs investigation to comment any further on this. Ideally your requests shouldn't be modified at all if the filters (we call them Requestly rules) are not applied. This also happens in Chrome exte

[2021-02-08 15:55] #44 closed

[2021-02-08 15:55] #62 closed

[2021-02-08 15:56] #14 closed

[2021-02-13 09:31] NobodyCaresu opened #93 "Uploading Requestly Rules via File not working in Chrome"
when i try tu upload a file it says file uploaded but i cant find the file i just uploaded is this just for me?

[2021-02-16 01:53] requestly-team commented on #93
Hey @NobodyCaresu Can you please share the file you are trying to upload!

In the past, we have seen some issue in the files being uploaded. Can you please share the file here or maybe drop an email on contact@requestly.io

[2021-02-17 18:54] legend212 opened #94 "Requestly scripts not working anymore"
Um So I had a texture pack for a game called MooMoo.io and it worked the night that I used it.
But by the time I woke up in the morning it won't load the script anymore it says its on but just won't work? Why?

[2021-02-18 12:32] requestly-team commented on #94
Hey, We are sorry but we don't provide support for loading Texture Packs.

[2021-02-19 21:58] steverawlins-zebra commented on #90
Requestly no longer works on Chrome.  I have tried several times now, from scratch (Redirect and Cancel rules) and working with the Sample Rules.  When I tried on Firefox, it worked.

I can no longer find your Sample Rules, but even the most basic rule fails to fire in Chrome.

Here is screenshot from my Chrome Extension:
![RequestlyExtensionDetails_20210219](https://user-images.githubusercontent.

[2021-02-19 21:59] steverawlins-zebra commented on #87
Requestly Rules, such as re-direct, are still ignored.  I tried your sample ideas (redir SO to microlessons):  did not do anything on Chrome, but on Firefox it worked as desired.
![RequestlyExtensionDetails_20210219](https://user-images.githubusercontent.com/52328771/108566121-7f9f3580-72cb-11eb-96d0-1258dcf377b6.png)

[2021-02-20 04:01] #94 closed

[2021-02-20 04:06] requestly-team commented on #87
Hey @steverawlins-zebra Can you please create a sharedList for the rule you are trying!

We can also jump on a call to help you resolve this issue.

[2021-02-20 04:13] requestly-team commented on #90
@steverawlins-zebra Can we jump on a call to troubleshoot the issue for you? There are a couple of things which you want to try at your end

1. Right Click on Requestly Extension Icon and see if your extension is enabled or not. Here is the screenshot
![image](https://user-images.githubusercontent.com/35186614/108583433-68118c80-735f-11eb-8352-cfecdd4fe9bd.png)

It is possible that by mistake you

[2021-02-20 16:24] steverawlins-zebra commented on #90
Here is my attempt, sent as a Shared List of Rules:
https://app.requestly.io/rules/#sharedList/1613838117003-RedirectSO

My Requestly Extension is active and I have played with Extension Manager (so I understand what you mean).   I did not accidentally deactivate.

[2021-02-20 16:25] steverawlins-zebra commented on #87
My rule: https://app.requestly.io/rules/#sharedList/1613838117003-RedirectSO

[2021-02-22 09:41] requestly-team commented on #90
Hey @steverawlins-zebra

It looks like the container (or Group) in which this rule lies, is inactive. Here is the documentation about [Grouping Rules in Requestly as per use case](https://docs.requestly.io/managing-rules/groups) so that entire set of rules can be enabled or disabled together.

![Screenshot 2021-02-22 at 3 09 05 PM](https://user-images.githubusercontent.com/35186614/108690197-1401d

[2021-02-22 17:42] steverawlins-zebra commented on #90
Thanks, requestly-team.  Clearly, I did not understand Groups!  I activated my Group "StevesAttempts" and now the redirect to microlessons works fine, but I am back to the original problem:  the Twitter block still does nothing.   Is it a limitation on Chrome?
https://app.requestly.io/rules/#sharedList/1614015722248-SteveSezBlockTwitter

[2021-02-22 21:13] gvmohzibat opened #95 "Requestly Replace rule: Regex group replace not working"
Based on [this link](https://www.requestly.in/blog/2018/06/16/replace-rule-documentation/), Regex group replacement is supported but it seems not.
I'm using this regex: `/^https:\/\/domain\.com\/serve\/(.+)\/myscript\.js$/gi`
and replace this: https://domain.com/serve/$1
with this: http://localhost:5980

But it's not working. When I change `$1` to the exact text, it works.

[2021-02-23 05:08] requestly-team commented on #90
@steverawlins-zebra Thanks for confirming!

Twitter uses ServiceWorkers to load their home page and hence Chrome Extensions are not able to modify/redirect/block Twitter directly. But here is another approach

https://app.requestly.io/rules/#sharedList/1614056856749-redirect-twitter-to-microlessons

Just Open the rule above and Import this and it will take you to microlessons when you open twitter

[2021-02-23 05:11] requestly-team commented on #87
@steverawlins-zebra Since these two issues are quite related and have redundant discussion, I am linking this to #90 and closing this one.

[2021-02-23 05:11] #87 closed

[2021-02-23 05:21] requestly-team commented on #95
Hey @gvmohzibat Thanks for logging the issue. Can you please share the following with us

1. Share the Rule which you have created. Use SharedList feature to share the exact rule so we can directly import it - https://docs.requestly.io/managing-rules/sharing
2. What is the URL which you want to redirect
3. Destination of the URL

We understand there are certain variables which you would like to ke

[2021-02-23 05:23] #22 closed

[2021-02-23 05:26] requestly-team commented on #23
Hey @joshuatz We know we are very very late on responding on this ticket but we actually implemented a feature a couple of years ago which allows users to change the storage type.

Users can go to - https://app.requestly.io/settings and select their preferred storage type. Here is the screenshot-

![image](https://user-images.githubusercontent.com/35186614/108805263-b88a2380-75c5-11eb-93cd-5b13034

[2021-02-23 07:21] joshuatz commented on #23
@requestly-team No, I haven't used Requestly for a while now - not because of any dissatisfaction, but just haven't had a need for it lately. But, that looks like a great feature and would certainly addresses the issue I was having when I opened this - thanks for alerting me. I'll go ahead and close this out.

[2021-02-23 07:21] #23 closed

[2021-02-23 07:25] requestly-team commented on #23
Thanks @joshuatz for the response & closing this ticket.

[2021-02-23 09:46] gvmohzibat commented on #95
Hi. Thanks for your quick response. I actually shared the items you mentioned in the last message. Here is [the SharedList link](https://app.requestly.io/rules/#sharedList/1614073476847-Debug-replace-rule)

[2021-02-23 23:43] steverawlins-zebra commented on #90
Thank you!  The `window.location.href` did the trick; Twitter.com now re-directs to microlessons, as desired.  Nice job, good Extension; I will keep using it.

[2021-02-24 04:04] requestly-team commented on #95
Hey @gvmohzibat Thanks for providing the SharedList link! When we tried this at our end, it is working fine.

We tested this on the following URL - https://s1.mediaad.org/serve/tarafdari.com/homepage/loader.js and It took us to http://localhost:5980/homepage/loader.js which is expected.

Can you please share the following information?
1. What is the URL of your JS. We need to check whether the JS

[2021-02-24 04:06] requestly-team commented on #90
Hey @steverawlins-zebra Thanks for confirming, this worked for you. Can you please rate us on Chrome Store - https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa?hl=en

[2021-02-25 20:07] gvmohzibat commented on #95
I'm sorry it seems I've shared a wrong link (it doesn't have any regex group replacement). Check out [this screencast](https://app.usebubbles.com/2uF5v4qWrxn7zKrVnDNDSM/comments-on-regex101-com). I showed how to reproduce it and what I'm expecting.

About the questions:

1. `https://s1.mediaad.org/serve/tarafdari.com/loader.js`. [It's matching](https://regex101.com/r/aAkHwK/1)
2. This is [an examp

[2021-02-26 01:49] requestly-team commented on #95
Oh I got the problem you are making! You cannot use the group value `$1` in the Replace part, it is supposed to be used in the destination part.

Here is the documentation for understanding rule operators - https://docs.requestly.io/getting-started/rule-operators#regex-match-operator

Do you want to setup the following redirects

[code]

If this is your use case, you can try this https://app.reque

[2021-02-26 11:32] CubikNeRubik commented on #68
^

[2021-02-26 12:59] gvmohzibat commented on #95
@requestly-team Thanks a lot for your help. Great support!

[2021-02-26 12:59] #95 closed

[2021-02-26 13:00] requestly-team commented on #95
Thanks @gvmohzibat -- Can you please rate us on Chrome Store https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa?hl=en

[2021-02-27 07:36] #80 closed

[2021-02-27 07:36] #77 closed

[2021-02-27 07:36] #75 closed

[2021-02-27 07:36] #67 closed

[2021-02-27 07:36] #64 closed

[2021-02-27 07:36] #63 closed

[2021-02-27 07:36] #61 closed

[2021-02-27 07:36] #54 closed

[2021-02-27 07:36] #50 closed

[2021-02-27 07:36] #48 closed

[2021-02-27 07:36] #46 closed

[2021-02-27 07:36] #43 closed

[2021-02-27 07:36] #41 closed

[2021-02-27 07:36] #38 closed

[2021-02-27 07:36] #33 closed

[2021-03-05 07:37] #89 closed

[2021-03-05 07:37] #78 closed

[2021-03-07 06:52] erkesado opened #96 "A file can't be deleted"
Hello,

After uploading 5 files, I realized that I reached my free account limit and can't edit any of 5 files.
Then, I tried to restore my free account by deleting one of my 5 files. But I can't delete any of them.
Can I test Requestly further by deleting a file and restoring my free account?
After a thorough test, I'll make a decision of buying it.

Thanks in advance,
Erdenebat Oyungerel

[2021-03-08 06:43] requestly-team opened #97 "SharedListViewer doesn't show the rules in first time page open"
When we open a SharedList by clicking on a link - https://app.requestly.io/shared-lists/viewer/1615179293900-Twitter-Mobile-User-Agent, it renders an empty page but on reloading the page, it shows the shared list of rules.

[2021-03-09 04:35] requestly-team opened #98 "How to Replace Version Numbers in URLs?"
![image](https://user-images.githubusercontent.com/35186614/110419215-e2ac0d00-80be-11eb-9183-40fdb8406d91.png)

[2021-03-09 04:36] requestly-team commented on #98
Hey Shannon, This is easily possible using Replace Rule and yes Replace Rule supports regex. Here's an example of Regex in Replace Rule - https://www.youtube.com/watch?v=Pwgh4_Jk1M8&ab_channel=RequestlyExtension

If you can provide the Example Requestly URL and the destination URL, we will be able to help you out better.

[2021-03-10 02:50] shannonhochkins commented on #98
Thanks!

[2021-03-10 05:28] requestly-team commented on #98
@shannonhochkins Please keep us posted when your rule is made. Otherwise we'd be super glad to help you out once you share an example of the URLs on which you want to setup a redirect.

[2021-03-12 04:30] erkesado commented on #96
Hello @requestly-team,

I signed in from different computer and deleted a file successfully.
So my issue is resolved.

Thanks for your support.

[2021-03-12 04:30] #96 closed

[2021-03-12 07:37] #40 closed

[2021-03-12 07:48] requestly-team commented on #96
Thanks @erkesado Please share your feedback with us and let us know how can we improve. You can drop us an email at contact at requestly dot io

[2021-03-12 10:24] SebastianRasch commented on #91
Stupid bot.

[2021-03-15 09:33] mavr1982 opened #99 "Can't download desktop app"
Link to download desktop app does not work.
https://requestly.io/desktop/

[2021-03-15 10:57] requestly-team commented on #99
Hey @mavr1982, thanks for logging this issue.

Please use this direct link while we update the page: https://files.requestly.io/mac-app

[2021-03-15 11:14] requestly-team commented on #99
We have also updated the link on the website.

Closing this ticket for now. Feel free to reopen if you have any questions.

[2021-03-15 11:14] #99 closed

[2021-03-17 22:46] Julian88Tex opened #100 "Regex Match Group ($1) Isn't Populating URL As Expected"
After creating a Regex redirect I woudl expect the redirected URL to populate based on what is found with regex patter into $1 as descbied here: https://docs.requestly.io/getting-started/rule-operators#regex-match-operator

Example:
<img width="717" alt="Screen Shot 2021-03-17 at 3 44 21 PM" src="https://user-images.githubusercontent.com/459099/111548290-b84df580-8737-11eb-9290-6bc7253e7a38.png">

[2021-03-18 09:17] requestly-team commented on #100
Hey @Julian88Tex
When using regex matching you will have to specify the part of the matched expression you want to use as a variable. This is done by putting that part inside parenthesis.

For eg.
![image](https://user-images.githubusercontent.com/35186614/111601222-2659f180-87f8-11eb-850c-33ed961665a9.png)

Here the brackets indicate that anything after `cat` is the variable and can be used throu

[2021-03-18 09:17] #100 closed

[2021-03-23 09:24] kesiganes opened #101 "verification emails coming from non-existent domain"
NOQUEUE: reject: RCPT from mail-vk1-f198.google.com[209.85.221.198]: 450 4.1.8 <noreply@fbmails.requestly.io>: Sender address rejected: Domain not found

[2021-03-23 10:23] requestly-team commented on #101
Thank you @kesiganes for logging this issue. We'll look into it.

[2021-03-23 21:36] steverawlins-zebra commented on #90
Done.  Nice work on this plug-in.  Thank you.

[2021-03-25 05:23] petar-nikov opened #102 "Error 522 both on Firefox and Chrome"
This is happening with both browsers is there any way to make the extensions work?

[2021-03-25 05:28] petar-nikov opened #103 "Links to Firefox addon on the website are redirecting to Chrome Web Store"
Both links to firefox addon on the website are redirecting to Chrome Web Store:
Links are pointing to: https://chrome.google.com

[2021-03-25 05:54] requestly-team commented on #103
Hi @petar-nikov, thanks for bringing this issue to our knowledge.

We have updated the page.
Closing this issue for now. Feel free to reopen if you have any questions.

[2021-03-25 05:54] #103 closed

[2021-03-25 06:26] requestly-team commented on #102
Hi @petar-nikov, thanks for logging this issue.

Our dashboard website (https://app.requestly.io/) seems reachable to us.

As with many similar HTTP errors, it is not so easy for us to name the source of the error directly. We would really appreciate if you could give more details about this error, including a screenshot.

Check status: [Is it down right now?](https://www.isitdownrightnow.com/app.

[2021-03-25 06:42] petar-nikov commented on #102
@requestly-team thank you for the prompt replay.
I am providing screenshots from CheckStatus, done from Firefox 86.0.1 (64-bit) on Linux:
- **_Is it down right now:_**
![image](https://user-images.githubusercontent.com/58396791/112428926-9ca0ab80-8d44-11eb-8f3f-0e77e3651e38.png)
- _**Down for Everyone or Just Me**_
![image](https://user-images.githubusercontent.com/58396791/112428974-b215d580-8d44

[2021-03-25 09:20] requestly-team commented on #102
@petar-nikov Thanks for providing us with the details.

We have forwarded this issue to the Firebase, our hosting provider. Will keep you posted.

[2021-03-26 07:51] #93 closed

[2021-03-28 10:27] CubikNeRubik commented on #68
Hey @requestly-team are you going to fix this issue?

[2021-03-29 06:12] Harfho opened #104 "Requestly stop working fine on some links"
when I first wrote this rule it works fine, but now it has stop working.
I what it to  Modify Response Headers Rule and remove Location from the Response Header.
also there is another Cancel Request Rule that stop working.

cancel request that's not working -  https://www.awesomescreenshot.com/image/6909178?key=46941f245fe0f6a621c89d1ff3f9b754

modify Response that's not working - https://www.awes

[2021-03-29 07:06] srinivasulubv opened #105 "Requestly throwing javascript error"
After adding new features by the development team of requestly, we can see console errors as shown below.
![Requestly Error](https://user-images.githubusercontent.com/68370448/112798867-60aa6680-9022-11eb-91ee-29c7e2154294.PNG)
Also, the requestly app is no more working, probably I need to switch to different alternative as this behaviour is continuing from since few weeks.

[2021-03-29 07:33] petar-nikov commented on #102
@requestly-team Hi, it's still relevant for me.
Is there any update?
Could I add more info or do something to help this to be resolved?

[2021-03-30 08:30] FrankHarland opened #106 "Does not work with my self-signed certificate"
Love the app, but the Chrome plugin just stopped working for me at one point.
I switched to the mac app which provides a bit more feedback:

PROXY_TO_SERVER_REQUEST_ERROR: Error: self signed certificate

I'm using a self-signed certificate for my development environment. Is there any way i can still get Requestly to work?

[2021-03-31 04:29] requestly-team commented on #106
Hey @FrankHarland Thank you so much for logging this issue. As part of Requestly Installation we do install a custom CA which signs the requests proxied by Requestly proxy server. https://docs.requestly.io/desktop-app/how-to...#certificates

Did you modify/remove the Requestly CA from your keychain by any chance?

[2021-03-31 04:31] requestly-team commented on #105
Hey @srinivasulubv Thank you so much for logging the issue. We will investigate this issue on priority and will keep you posted here.

[2021-03-31 04:34] requestly-team commented on #101
Hey @kesiganes We send emails via Firebase. Is the verification email being rejected by your email provider?

[2021-03-31 04:35] requestly-team commented on #98
@shannonhochkins Did the video work for you? Do you need more help?

[2021-03-31 04:38] requestly-team commented on #104
Hey @Harfho

Thank you so much for reaching out. Can you please share the rule with us so that we can import the rule and try on our end. You can share the rules with us by creating a SharedList - https://docs.requestly.io/managing-rules/sharing

Also, provide us the URL on which you are trying the Cancel Rule.

Please provide the same information for the Headers rule too
1. Rule (by Sharing)
2. U

[2021-03-31 07:40] FrankHarland commented on #106
Hi @requestly-team ,

I did not remove or modify the cert:
![image](https://user-images.githubusercontent.com/31548701/113107624-6f507380-9204-11eb-8f9b-8fe84a6b9899.png)

But i am using a second (self-signed) certificate for my local development, so I'm guessing this might be the issue
![image](https://user-images.githubusercontent.com/31548701/113107906-bb031d00-9204-11eb-8d3c-0a5369c43674.png)

[2021-03-31 13:28] Harfho commented on #104
https://app.requestly.io/rules/#sharedList/1617197035339-share

https://topcryptoz.net/?link=UvEyH
http://megafly.in/bm1gKS8K - this will work, but will not work when visit from another website , it will just be immediately redirect.

[2021-04-05 04:26] requestly-team commented on #97
@nafees87n Is this complete?

[2021-04-05 06:30] #97 closed

[2021-04-08 08:38] SebastianRasch commented on #91
OK I guess due to the stupid Github bot, this will be closed/forgotten soon since there's no update regarding this from your end.

[2021-04-13 03:52] erkesado opened #107 "Temporarily unable to access files"
Hello,

My script files on Requestly have been inaccessible for 7 to 20 minutes several times for the last 12 hours. They give 502 error on Google Firebase Storage.
Why does it happen regularly for the last 12 hours?
It hurts my online business.

Yours sincerely,
Erdenebat Oyungerel

[2021-04-13 05:46] requestly-team commented on #107
Hey @erkesado

Thank you for reaching out. We checked Firebase Storage Status - https://status.firebase.google.com/ and there's no outage mentioned there.

Have you faced the similar issue in the past or is this the only instance you faced this issue?

[2021-04-14 01:55] erkesado commented on #107
It is the first time I am facing this issue.
I have never encountered this issue on Requestly before.

[2021-04-14 05:42] requestly-team commented on #107
@erkesado What's the size of the JS Code you have? We can think of better reliable alternative if this is business critical for you.

[2021-04-15 02:35] erkesado commented on #107
There are 3 small files. First one is 3Kb, second one is 2Kb and the last one is 18Kb.
I moved them to Google Drive and the issue is gone.

Thanks for your concern,
Erdenebat Oyungerel

[2021-04-15 03:59] requestly-team commented on #107
Thanks @erkesado for the response! We will keep an eye on this 502 issue from Firebase. Glad that you are able to resolve the issue for you. Can we close this issue?

[2021-04-15 04:02] #107 closed

[2021-04-19 10:25] #90 closed

[2021-04-23 08:00] requestly-team commented on #68
Hey @CubikNeRubik We investigated into this. The link generator service which we used from Firebase has been deprecated. We have already stopped generating the links by this service so you won't face any issues with the new links.

[2021-04-23 10:52] #102 closed

[2021-04-25 10:06] kesiganes commented on #101
yes. and i tend to agree with them. seems totally logical to me not to accept emails from nonexistant domains.
from postfix doc:
reject_unknown_sender_domain
  Reject the request when Postfix is not final destination for the sender address, and the MAIL FROM domain has 1) no DNS
  MX and no DNS A record, or 2) a malformed MX record such as a record with a zero-length MX hostname

[2021-04-26 12:42] requestly-team commented on #105
@srinivasulubv Are you still facing this issue? We can help you out over a call.

[2021-04-27 05:11] srinivasulubv commented on #105
Hi @requestly-team,
I believe some fix has been given to this problem, i couldn't see problem coming any more, marking the problem as resolved. Thanks for a quick resolution, really appreciated.

[2021-04-27 05:11] #105 closed

[2021-04-28 13:36] rahulprasadgupta opened #108 "unable to save"
while using unable to save

[2021-04-28 13:43] shaili123 commented on #108
+1, Unable to create new rule or edit an existing one

[2021-04-28 14:07] dzienisz commented on #108
wtf? shouldn't it be local only? where our data goes?

[2021-04-28 14:20] patrykskrzymowskirepository commented on #108
+1, reinstall did not help.

[2021-04-28 14:41] requestly-team commented on #108
Apologies for the inconvenience caused. The issue has been fixed. You should be able to create new rules now.
Thank you for reaching out.

[2021-04-28 17:50] requestly-team commented on #108
@dzienisz Your rules are saved locally or synced by Google only, depending upon your account settings [here](https://app.requestly.io/settings). As of now, we don't store your rules on our servers. We are soon coming up with a Wordpress plugin and a Cloudflare app, which might require this though.

[2021-04-28 17:51] requestly-team commented on #108
Closing this issue for now, more info about the incident can be found here on our LinkedIn post [here](https://www.linkedin.com/posts/requestly_in-our-latest-deployment-about-2-hours-ago-activity-6793228035974848512-scwb).

[2021-04-28 17:51] #108 closed

[2021-04-28 21:14] sprynm opened #109 "Cache busting helpers"
Hello,
I use this tool to inject a cache busting query string.  But I have to manually update the value  on each refresh.  It would be handy to have a short code to inject a random number.  A time stamp rounded to seconds || hours || days would work well.

Or is there something I missed in the current set up?

![image](https://user-images.githubusercontent.com/4483296/116473470-0d4b5400-a82c-11eb-

[2021-04-29 04:38] requestly-team commented on #109
Hey @sprynm Thank you for reaching out. Requestly has list of predefined functions which can be used to provide dynamic value in the value fields in the rules.

Here's the detailed [StackOverflow Answer on how you can use Requestly to cache burst requests](https://stackoverflow.com/a/63966511/816213) - https://stackoverflow.com/a/63966511/816213

In short, you can use `rq_rand(4)` as the value. Th

[2021-04-29 07:39] #68 closed

[2021-04-30 11:19] guai opened #110 "no http PATCH method in filters"
pls add http PATCH method to filters

[2021-05-01 07:40] #106 closed

[2021-05-01 07:40] #98 closed

[2021-05-02 07:40] #104 closed

[2021-05-04 04:23] requestly-team opened #111 "Change the Default Dictionary in Adobe Acrobat Reader"
I saw [your post on Medium](https://requestly.medium.com/change-the-default-dictionary-in-adobe-acrobat-reader-86090c7f016) regarding the subject line. I've installed the Requestly extension and tried to change the destination to Merriam-Webster, rather than the multilingual dictionary in the post's example, but get stuck. After the rule is added, Acrobat's Look Up redirects to the M-W homepage bu

[2021-05-04 04:26] requestly-team commented on #111
Can you please share the rule you have created? Follow these steps

1. Select the rule
2. Click on Share the rule

Share the link here and we will investigate what's not working for you.

[2021-05-04 13:25] DaveM-BC commented on #111
https://app.requestly.io/rules/#sharedList/1620134632080

[2021-05-04 14:00] nafees87n commented on #111
@DaveM-BC You can find the same rule at our [marketplace](https://app.requestly.io/marketplace). You can use rules from the marketplace without any limitations.
Visit- https://app.requestly.io/marketplace

[2021-05-04 14:03] requestly-team commented on #111
@DaveM-BC You can find the same rule on our [marketplace](https://app.requestly.io/marketplace). You can use rules from the marketplace without any limitation.
Visit- https://app.requestly.io/marketplace

[2021-05-04 14:14] DaveM-BC commented on #111
I clicked "on" for the M-W rule in the marketplace, but the result is the same. Look Up opens the M-W home page, but doesn't execute the search.

Tried it again with my adblocker disabled on the M-W site, same outcome.

[2021-05-04 14:25] requestly-team commented on #111
Did you turn off the rule previously made by you? Please turn it off and then try the M-W rule in marketplace. Do let us know the outcome.

[2021-05-04 14:33] DaveM-BC commented on #111
That did it! Thank you.

[2021-05-04 15:41] requestly-team commented on #111
@DaveM-BC Can you. please rate us on the Chrome Store - https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa?hl=en? Can we close this ticket?

[2021-05-04 15:49] DaveM-BC commented on #111
Yes and yes.

[2021-05-05 07:41] requestly-team commented on #91
@SebastianRasch We are rewriting our desktop app in which we are allowing users to choose the browser in which they want to apply Proxy. We will be able to release that by May end and hence we are not able to work on this issue in the existing version of the app. This is slightly complex at our end as well because we are not able to reproduce it too.

[2021-05-05 14:53] zpyoung opened #112 "Subscription Sign-Up Address Issue"
When purchasing a new premium subscription, every field in the address needs a value prior to allowing a purchase. This has 2 problems:

1. Most addresses in the US do not have an address line 2 (I had to just use a "dash" symbol)
2. The error message raised simply indicates that an address needs to be added prior to purchase. It does not tell you which field has the error nor is an error raised w

[2021-05-05 15:02] requestly-team commented on #112
Hey @zpyoung, Thanks for your detailed feedback. We'll act upon this really soon.

Meanwhile feel free to reach us at [contact@requestly.io](mailto:contact@requestly.io) in case you face any difficulty with the subscription or the app in general.

[2021-05-05 15:29] #109 closed

[2021-05-05 18:24] sufumin opened #113 "Replace a substring in URL while keeping rest of the URL same"
Hello, I like this software, I've read this page but still have some problems.
(https://docs.requestly.io/using-rules/replace-rule)

if I want to
Turn
① https://www.test.com/flle-xxxx.html
(xxxx is a number)
Into
② https://www.test.com/down-xxxx.html
(② xxxx is the same as ① xxxx)

Example 1:
Turn
https://www.test.com/flle-123456.html
Into
https://www.test.com/down-123456.html

Example 2:
Turn
htt

[2021-05-06 00:17] requestly-team commented on #113
@sufumin How about this

[code]

Can you try this at your end once and let us know if it solves your problem?

[2021-05-06 00:48] requestly-team commented on #111
Thank you @DaveM-BC. Would really appreciate your review on Chrome Store. Feel free to reach out if you have any issue. Closing this.

[2021-05-06 00:48] #111 closed

[2021-05-09 17:00] SebastianRasch commented on #91
OK thanks for your answer. I hope it'll all work in the new version!

[2021-05-12 08:04] dzienisz opened #114 "rules are not saved"
in case where you have 6 pair in rule data are not saved even when info bar say it is

[2021-05-12 08:57] requestly-team commented on #114
Hey @dzienisz Thanks for logging the issue. Can you please. share more information about your rule? Which rule type was it?

[2021-05-12 12:25] dzienisz commented on #114
Header rule

in some cases I don't know exactly when data are not saved

[2021-05-13 00:58] requestly-team commented on #114
Hey @dzienisz

Can we jump on a call quick to look into this together? This looks like account specific. Please select a slot here - https://calendly.com/requestlyio/30min and we will be in touch & resolve this issue.

Best
- Sagar, CTO & Co-Founder

[2021-05-15 16:31] sufumin commented on #113
It works! Thanks. Have a nice day!  :) :)

[2021-05-23 23:21] callmecobra22 opened #115 "Not Syncing settings to multiple devices"
I am using multiple devices with the same rquestly account. Settings are not syncing between devices. Need to manually update. Auto syncing should happen if i am using same account.

[2021-05-28 05:44] requestly-team commented on #115
Thanks @callmecobra22 for logging this issue. Right now, we don't sync settings automatically. We are logging this as feature request. We will notify you when we pick this up.

[2021-06-02 13:24] telakk opened #116 "Rules page stuck on getting started."
When in the rules page requestly only shows getting started even though the extension is installed. I click the chrome link and chrome shows it installed.
![image](https://user-images.githubusercontent.com/85236500/120487556-1035e900-c384-11eb-988b-1d35e2bde3cd.png)
If I click the extension button at the top requestly is also recognizing that the extension is installed.
![image](https://user-image

[2021-06-03 15:21] requestly-team commented on #116
@telakk
It is most likely that the extension doesn't have the required permissions. You can visit [chrome://extensions](chrome://extensions) and give Requestly Extension the access on all sites. Also, you can refer to our troubleshooting documentation [here](https://docs.requestly.io/troubleshooting) to know about this.

![image (17)](https://user-images.githubusercontent.com/35186614/120669264-ea

[2021-06-06 08:18] #112 closed

[2021-06-06 11:34] #113 closed

[2021-06-06 11:34] requestly-team commented on #114
Resolved this offline! Hence closing this issue.

[2021-06-06 11:34] #114 closed

[2021-06-07 12:58] guai commented on #110
/reopen

[2021-06-08 10:52] MikkelSVDK opened #117 "Insert script does not work on index"
I'm running a Raspberry Pi Zero with Chromium Version 86.0.4240.197 (Official Build) Built on Raspbian

I have a insert script rule that doesn't work with the: if URL contains https://example.com.
When i visits the site, it does not load the scripts and i don't see any errors.

[2021-06-08 20:44] lightningnetworkstores opened #118 "Not adding a simple HTTP header"
HTTP header not being added. What am I doing wrong?

![image](https://user-images.githubusercontent.com/36745356/121254505-3dadf580-c8a2-11eb-9f94-9a088c589fe3.png)

![image](https://user-images.githubusercontent.com/36745356/121254567-51595c00-c8a2-11eb-9013-c7d6da31abd4.png)

![image](https://user-images.githubusercontent.com/36745356/121254747-88c80880-c8a2-11eb-9087-2bd05873c07a.png)

![image]

[2021-06-09 04:14] requestly-team commented on #118
Hey @lightningnetworkstores Thanks for logging the issue. We just tried to reproduce the issue at our end and it worked perfectly. Here is a screenshot of the Chrome Developer Tools

![image](https://user-images.githubusercontent.com/35186614/121291699-551eca00-c906-11eb-9b6e-79c51ff4f26a.png)

Here's a screenshot of Modify Headers Requestly Rule

![image](https://user-images.githubusercontent.com

[2021-06-09 04:23] requestly-team commented on #117
Hey @MikkelSVDK Thanks for logging this issue. We have never tested Requestly on Raspbian. Do you know if Raspbian supports Chrome extensions? Did you install Requestly directly from Chrome Store?

[2021-06-09 04:24] requestly-team commented on #116
Hey @telakk, Did you manage to solve this issue? Did above solution work out?

[2021-06-09 08:36] MikkelSVDK commented on #117
Hello,
Requestly does work on a Raspberry pi. The rule becomes active as soon as i leave the root. i also tried to create a modify header rule to see if it was a problem with the website, but it did work on every page within the scope.
It was installed it via the Chrome store

[2021-06-10 15:24] steveblue opened #119 "Doesn't work with Safari"
With the standalone app, I'm trying to Request a Redirect Rule for a file I have hosted locally with a Webpack development server. When the request matches file.min.js I want the destination URL to be http://localhost:8080/file.js. The website I'm trying to replace the file locally is served with SSL. Request Redirect Rule works in Chrome and Firefox, however; in Safari when inspecting the network

[2021-06-11 15:15] lightningnetworkstores commented on #118
Thanks, the issue was solved by right-clicking and activating it.

[2021-06-11 15:15] #118 closed

[2021-06-11 17:42] jpaddock opened #120 "Can't control order of rules"
I have a redirect rule that I want to run first followed by query param rule.  This isn't possible and it makes the tool less useful as I need to update the query string of a redirected url to have a random number on it.

[2021-06-12 14:28] requestly-team commented on #120
Hey @jpaddock You can use the random number function in the Redirect rule too.

Here's an article which explains how can we add a random query parameter - https://dev.to/requestlyio/disable-caching-of-particular-js-css-file-2k82. Although, this article is in context of Query Params Rule but the same concept can be used with Redirect Rule too.

So, in short this is that you can try. In the Redirect

[2021-06-12 14:36] requestly-team commented on #119
Hey @steveblue Thank you so much for logging this issue. We will try to investigate this issue and provide you a resolution soon.

[2021-06-12 16:00] requestly-team commented on #119
Hey @steveblue Can you please try disabling `Cross Origin Restrictions` in Safari once and then try again?
Just Go to `Develop > Disable Corss-Origin Restrictions`

![image](https://user-images.githubusercontent.com/35186614/121782040-4d407d80-cbc5-11eb-977a-a69ebd6bcdf2.png)

Let us know if it solves. We'll continue digging.

[2021-06-14 16:39] jpaddock commented on #120
Oh, that worked perfectly!!! Thank you so much.

[2021-06-14 16:39] #120 closed

[2021-06-15 03:01] requestly-team commented on #120
Hey @jpaddock Thanks you so much for confirming. We're glad that solution worked out for you. Can you please help us with a review on Chrome Store - https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa?hl=en

[2021-06-16 15:12] deleteduser2 opened #121 "Redirecting file too slow"
Async script call in the start of the website fucks everything up just because the proxy file gets loaded TOO LATE for some reason. Global value is set after the async script is being evaluated and everything is fucked because the global is supposed to be already set by the proxy.

Fix this beta ordering / delay / whatever and bring back local file redirection, your cloud storage is 💩.

[2021-06-17 08:57] requestly-team commented on #121
Hey, Thanks for logging this issue. Are you talking in the context of desktop app?
Can you please help with more details like the rule which you have created and the site on which you are doing the test?

We will be able to investigate this better then!

[2021-06-17 09:00] requestly-team commented on #117
Hey @MikkelSVDK Apologies for the delay in response. Do you mean to say that Modify headers rule is working fine but Script rule is not. Can you please share the rule with us here?

Also, Can you please open the Chrome Devtools console and help us with any errors you see there?

[2021-06-17 09:00] requestly-team commented on #119
Hey @steveblue Any updates here?

[2021-06-22 12:43] ror-y opened #122 "Please add sortable columns on Rules page"
I want to be able to sort by A-Z on Rule Details.

Other columns being sortable would be a bonus.

Currently it automatically supports by Last Modified.

[2021-06-23 00:34] steveblue commented on #119
I tried that already @requestly-team and setting Disable Cross-Origin Restrictions doesn't resolve the issue.

[2021-06-23 03:09] requestly-team commented on #119
Thanks @steveblue for the confirmation. We will look into how we can solve this further.

[2021-06-28 07:33] #115 closed

[2021-06-28 10:31] requestly-team commented on #119
@steveblue We have made a fix to handle MixedContent Issues within the desktop app. Can you please take this build and try at your end - https://drive.google.com/file/d/1T1JP5Ti8exEcxs8J9Z7FFm20airZgchu/view?usp=sharing

[2021-06-29 04:47] requestly-team commented on #122
Hey @ror-y Thank you so much for raising this feature request. We have added it in our roadmap. We will update here when we make progress on this.

[2021-06-29 21:27] steveblue commented on #119
OK, the issues with MixedContent seem to be resolved, thank you, however the expected response still doesn't happen

Suppose I configure Requestly like this:

<img width="1024" alt="Screen Shot 2021-06-29 at 2 17 39 PM" src="https://user-images.githubusercontent.com/1171943/123868617-c8ec3b00-d8e4-11eb-81ad-c1ecbf004f77.png">

In Chrome, I see the redirect Status Code: 307 Internal Redirect for th

[2021-06-30 14:06] requestly-team commented on #119
Hey @steveblue
Can you check again with this build.
https://drive.google.com/file/d/1u6FzHvfQR0M6hAlcVGVgtFTI2Jo6_l4L/view?usp=sharing

We have updated Redirect Rule functionality to incorporate MixedContent scenario. In case of MixedContent, instead of client side redirection, it does server side redirection now.
So in case of MixedContent, the original requests response will be updated, instead

[2021-07-01 09:22] doggy8088 opened #125 "Modify using JavaScript"
Is there any docs for the args when modify using JavaScript? I have no clue how to modify the response and there is no docs for that. I also doubted about how to debugging. I can't console.log any message.

[code]

[2021-07-01 13:37] ansorensen opened #126 "I have a replace host rule, but it's not doing anything."
My rule is supposed to replace resource files from a local URL to a remote one. Specifically, it replaces the host and port:

localhost:9000

I'm using a filter of .js and .css files.

However, in the console when I try to load a page that requests JS/CSS assets from localhost, I still get errors like:

GET http://localhost:9000/content/css/SuperSelect.css net::ERR_ABORTED 404 (Not Found)
GET http

[2021-07-01 15:25] lazyvab commented on #125
@doggy8088 The extension currently supports modifying response only for AJAX requests invoked using [XMLHttpRequest](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest). Support for [fetch](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch) API should be coming soon.

Example for modifying response using Javascript:
Suppose you want to set `message` prop

[2021-07-01 15:28] doggy8088 commented on #125
@lazyvab I see. I do expected to see if you can support writing JavaScript to modify any HTTP requests.

[2021-07-03 13:54] Infin8y commented on #126
Hey @ansorensen Thanks for reaching out. Can you please help us with the rule which you have created.

Here is a guide on how you can share a rule with us - https://requestly.io/blog/2018/06/14/share-rules-with-other-users/

[2021-07-05 11:02] guai commented on #110
bot go away

[2021-07-05 13:31] ansorensen commented on #126
https://app.requestly.io/rules/#sharedList/1625491851258-Rules-that-don't-work

[2021-07-07 13:51] ansorensen commented on #126
Yes, I did have it on. I turned it off when it did nothing and I had to
find another way to reroute requests.

On Tue, Jul 6, 2021 at 9:11 AM Infin8y ***@***.***> wrote:

[2021-07-07 13:52] ansorensen commented on #126
I'm not using the extension at the moment, and don't plan to.

On Wed, Jul 7, 2021 at 8:51 AM Alec Sorensen ***@***.***> wrote:

[2021-07-07 13:59] Infin8y commented on #126
Hey @ansorensen We are sad to hear this! Do you mind telling me how did you solve this problem?

Can you please try once again after removing the filters? Looks like there is an issue with filters, we'd investigate further and solve it asap.

[2021-07-07 14:14] ansorensen commented on #126
Not really, I don't have the server set up and I'm using a different tool
now.

On Wed, Jul 7, 2021 at 8:59 AM Infin8y ***@***.***> wrote:

[2021-07-07 14:14] Infin8y commented on #126
Could you tell us which tool did you switch to?

[2021-07-07 14:21] ansorensen commented on #126
Acrylic DNS proxy

On Wed, Jul 7, 2021 at 9:15 AM Infin8y ***@***.***> wrote:

[2021-07-09 07:32] #116 closed

[2021-07-10 12:32] Infin8y commented on #88
Hey @duradara

This is now possible with Requestly Chrome Extension. You can use `Delay Request Rule` to introduce a delay to a particular request. Check this out - https://requestly.io/blog/2021/07/02/adding-delay-to-network-requests/

Feel free to let us know if you try this out and face any issues. We are just a reply away here.

[2021-07-11 04:12] #126 closed

[2021-07-14 06:56] adityapunjani opened #127 "Allow Delay Network Requests Rule greater than 2000ms"
I love the Delay Network Requests Rule, it's great for emulating slow loading experiences but unfortunately it has a max value of 2000ms. Can we remove this cap?

[2021-07-14 08:59] theinfin8y commented on #127
Thank you @adityapunjani

We have put the cap of 2000ms so that users don't add a large value and that could impact their browsing experience. Can we know on what kind of requests you are adding delays?

Is it JS, CSS or Images or AJAX (XHR, fetch) requests?

[2021-07-14 17:28] adityapunjani commented on #127
That makes sense but maybe it could be allowed for subresource requests?

All of the above but my specific use case was around Images/CSS/JS.

[2021-07-15 03:09] theinfin8y commented on #127
@adityapunjani You can also use Server side delay simulation for Images/CSS/JS. We explained that bit here - https://www.reddit.com/r/Frontend/comments/ocyr7h/test_your_web_app_experience_in_different_network/

Also, here is how you can use server side delay
1. Requestly provides a Public API to delay a particular request like this - `https://app.requestly.io/delay/<delay_in_millisecods>/<URL_to_b

[2021-07-17 14:55] theinfin8y commented on #127
@nafees87n Can you please help with a POC like
- Use server side delay for non XHR- requests (Main Frame, Iframe, JS, CSS, Images)
- Use Client side blocking delay for everything else

[2021-07-19 07:32] #117 closed

[2021-07-19 12:17] kirBMSTU opened #128 "Feature Request - Allow Overriding Response Status Code in Modify Response Rule"
Is it possible to replace the response status? This is the only thing missing in the extension

[2021-07-19 12:37] theinfin8y commented on #128
@kirBMSTU Are you trying to replace the response status of an XHR request?

[2021-07-19 14:46] kirBMSTU commented on #128
yes, but i think it can be useful for fetch too

[2021-07-20 02:28] theinfin8y commented on #127
@adityapunjani We have done some experimentation and we have found a solution which allows us to increase the limit to 10s. Does this limit work for you?

[2021-07-21 02:23] theinfin8y commented on #128
Thanks @kirBMSTU We are taking this as a feature request. Right now, we don't support modifying the status code. Adding this to roadmap.

[2021-07-22 04:36] kirBMSTU commented on #128
Thanks!

[2021-07-27 01:32] mikehdt opened #129 "Mac icon is corrupted at small sizes"
![Screen Shot 2021-07-27 at 11 30 55 am](https://user-images.githubusercontent.com/4432939/127080551-a1ddb517-0af1-44b3-9c5a-c6f99a01f0ce.png)

When using the Requestly desktop app, the icon appears to be corrupted at small sizes. It's okay at larger sizes. This is with 0.0.7 on MacOS 10.15.7

[2021-07-27 04:52] theinfin8y commented on #129
Hey @mikehdt Thank you for logging this. We will fix this in our upcoming desktop app release.

[2021-07-27 04:53] theinfin8y commented on #127
Hey @adityapunjani We released this change last week in Chrome Store on 22nd July. Did you get a chance to try this out.
- Now you can put 5s delay on XHR requests (XHR & fetch)
- And 10s delay on every other type of requests

Could you please try this out and let us know if we can close this ticket?

[2021-07-28 10:39] theinfin8y commented on #110
@nafees87n Can we please check if this is doable and webRequest request details supports PATCH?

[2021-07-28 18:41] nafees87n commented on #110
@guai Support for PATCH method has been added to filters. It is live now.

[2021-08-02 07:32] #125 closed

[2021-08-03 14:34] guai commented on #110
@nafees87n thats cool, thanks

[2021-08-03 14:34] #110 closed

[2021-08-17 05:12] alonhartman opened #130 "Unable to save file when user has 5 files"
When a user has 5 files (and is in the free plan) he should be able to do updates in the 5 files he has.
When trying to update 1 of the files, the message "It's time to upgrade" appears and the changes cannot be saved.

Steps to reproduce:

1. login with a free plan user
2. upload or create 5 files
3. open 1 of the files and edit it
4. click on the "Save" button

Actual result: the "It's time to u

[2021-08-17 05:29] #127 closed

[2021-08-17 06:02] alonhartman opened #131 "FR - Enable adding tags to injected scripts"
As a user I would like to have the ability to add different tags to the scripts when they are injected such as `id="my_id"` or `data="urlToUseInScript=https://www.myurl.com;someparameter=true"`

The final result should should look like:
`<script type="text/javascript" id="my_id" src="https://urlToScript" data="urlToUseInScript=https://www.myurl.com;someparameter=true"></script>`

[2021-08-17 07:06] sagarsoni7 commented on #130
Hey @alonhartman

Thanks for reporting this issue. We'll fix this within next few hours

[2021-08-17 08:58] sagarsoni7 commented on #130
@alonhartman - We have updated the web app.

Can you please confirm if this has been resolved?

[2021-08-18 03:44] theinfin8y opened #132 "Unable to view Shared Lists"
Here's an example SharedList - https://app.requestly.io/rules/#sharedList/1629239947433
When we click on this, it just opens the list of my sharedList and doesn't show the list shared.

Please fix this urgently

[2021-08-18 04:53] sagarsoni7 commented on #132
@theinfin8y - We have fixed this issue.

Please reopen if still persists

[2021-08-18 04:53] #132 closed

[2021-08-18 04:54] #130 closed

[2021-08-18 12:26] alonhartman commented on #130
Yes, it works fine now.
Thank you :)

[2021-08-23 13:23] dwiyatci opened #133 "🔯 Intercept/filter request based on its payload and modify the request payload (GraphQL-related)"
Hi! 👋 I have a use case where I need to intercept a GraphQL HTTP request and modify/mock either the request or the response. The way to filter or distinguish a GraphQL request in general is to look at the `operationName` field in the request payload (as GraphQL requests usually go to the same API endpoint: `/graphql`).

To mock the response, I'm currently able to workaround it by using the beta fe

[2021-08-23 14:16] theinfin8y commented on #133
Hey @dwiyatci Thank you so much for opening this ticket. Glad to know that you are able to use `Modify Using JS` feature. @lazyvab Can we investigate if we can also override the XHR request payload and modify it before sending it to the server.

[2021-08-25 06:29] theinfin8y commented on #129
@mikehdt We have recently made a lot of changes in our desktop app. We have also fixed this in the latest version. Can you please check again at your end?

[2021-08-25 07:33] #122 closed

[2021-09-08 22:33] pedr0-fr opened #134 "Can't add a second rule"
Just made a fresh install of chrome and installed the requestly extension. When I click "+ New Rule" nothing happens and I see the following error in the console:

![Screenshot from 2021-09-08 23-29-59](https://user-images.githubusercontent.com/16596928/132594421-2b51e968-4f50-4751-a6c3-570e023b602a.png)

This is my second rule, it worked fine when I created the first rule.

[2021-09-09 06:08] theinfin8y commented on #134
Hey @pedr0-fr thanks for submitting the issue to us. Does the problem persist when you refresh the page? Can you also tell us your browser version & name? We will try to reproduce this at our end?

Can you also tell us if you tinkered with data anyway?

[2021-09-09 09:20] sagarsoni7 commented on #134
@pedr0-fr - We have made some changes at our end.

Can you please refresh the page and recheck?

[2021-09-09 16:57] pedr0-fr commented on #134
now it works, thanks!

[2021-09-09 16:57] #134 closed

[2021-09-11 02:34] theinfin8y commented on #131
@alonhartman Apologies, we missed this issue. Right now we are in the middle of our UI revamp to make it more lightweight & better performant. We are almost done! We will pick this up directly in our new UI codebase!

Once again apologies for picking this so late!

cc - @sagarsoni7 @SankhaChak

[2021-09-11 02:36] theinfin8y commented on #134
Thank you @pedr0-fr for confirming! Can I request you to rate us on Chrome Store - https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa

[2021-09-13 11:37] Harfho opened #135 "Remote Rule"
How does the remote Rule works?
is it like shared rule ?

[2021-09-13 11:40] sagarsoni7 commented on #135
@Harfho - Not exactly,  you provide an end-point from where Requestly will periodically import the rules

[2021-09-13 11:44] sagarsoni7 commented on #135
@Harfho - I just activated trial on your account. Login with your email h_____7@gmail.com and open

[2021-09-13 11:44] #135 closed

[2021-09-13 12:06] Harfho commented on #135
Thanks for the trial activation
so if I paste a link like https://app.requestly.io/shared-lists/viewer/1623908770341-6-17-2021 where and how will I see those rule are in action / working

[2021-09-13 12:39] sagarsoni7 commented on #135
@Harfho - The link you posted is of a shared list, this will not work with Remote Rules. Remote Rules feature is used to fetch Rules periodically from an **external** server.

So for example if my server endpoint is https://mywebsite.com/requestlyRules and response (json) is

[code]

I'll configure it like this:

<img width="1680" alt="Screenshot 2021-09-13 at 6 04 20 PM" src="https://user-images.

[2021-09-13 12:56] Harfho commented on #135
It helps me and clarify so much. Now I understand how it works + Its a powerful future.

[2021-09-13 13:00] sagarsoni7 commented on #135
@Harfho - Glad it helped

Can I request you to rate us on Chrome Store - https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa

[2021-09-13 13:22] Harfho commented on #135
No problem , Kindly let the Rule Sync/Downlead immediately the first time it was import

[2021-09-15 20:33] laygir commented on #128
Hey hey 👋

Is there any progress on this one? This is definitely the only thing missing in the extension!

[2021-09-18 03:22] PeiLiao opened #138 "copy rule button doesn't work, and makes uncaught error"
Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'installationDate')

[2021-09-18 03:22] PeiLiao commented on #138
https://app.requestly.io/rules

[2021-09-18 11:11] dwiyatci commented on #133
comment_to_remove_stale

[2021-09-18 18:09] SankhaChak commented on #138
Hi, @PeiLiao thanks for reporting the issue.

We made some changes on our end to fix it. Could you please confirm if you're still facing the issue ?

[2021-09-19 23:53] sashadev-sky opened #139 "Add "Authorization" header instead of default "authorization""
For example, to add a bearer token. This seems to no longer be possible but was at some point.

[2021-09-19 23:55] sashadev-sky commented on #139
Nevermind its the same thing! had the group set on "off" which just turned it off event though it was individually on "on"

[2021-09-19 23:55] #139 closed

[2021-09-20 00:00] sagarsoni7 commented on #139
@sashadev-sky - yeah that's a bit confusing. We'll be revamping the table soon

[2021-09-22 07:42] PeiLiao commented on #138
It has been fixed. Thanks!🌟

2021年9月19日 上午2:09，Sankha ***@***.******@***.***>> 写道：

Hi, @PeiLiao<https://github.com/PeiLiao> thanks for reporting the issue.

We made some changes on our end to fix it. Could you please confirm if you're still facing the issue ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/requestly/customer

[2021-09-22 08:50] SankhaChak commented on #138
Thank you @PeiLiao for letting us know. We'd be glad if you could drop a review for us at the [Chrome store](https://chrome.google.com/webstore/detail/requestly-redirect-url-mo/mdnleldcmiljblolnjhpnblkcekpdkpa)

[2021-09-22 08:50] #138 closed

[2021-09-26 07:32] #129 closed

[2021-09-30 14:34] nafees87n commented on #128
Hey @kirBMSTU @laygir
We don't support overriding response code in modify response rule as of now but this workaround might work.
We support creation of Mock APIs which can be used to create a mock API with the desired response status code. This mock API can then be set up in a redirect rule to redirect the actual site to this API to get the desired response status code.
Visit: https://app.request

[2021-10-04 15:20] redpathdesign opened #140 "wss:// websockets"
Does this requestly work for wss:// to replace the URL with a different host
basically replace wss://host.com  with wss://localhost:8443
trying to debug stuff locally.

[2021-10-05 07:11] sagarsoni7 commented on #140
@redpathdesign - We don’t support it rn but have plans to implement this in our desktop app.

We'll keep you posted here

[2021-10-19 11:53] Anyclip opened #141 "Requestly does not work with Safari browser"
Installed Requestly-0.0.12-beta.dmg on MacOS v11.6 and Requestly does not work with Mac Safari v15.0.  I was able to install Requestly successfully on the Mac however when I apply my Requestly rules they do not work.  The same Requestly rules work however in other browsers (Windows Chrome, Edge, Firefox).  Who can help me with this issue?

[2021-10-20 09:35] Anyclip commented on #141
Thanks for your prompt response.  Thanks to your valuable assistance I was able to enable Requestly to work on Mac Safari however it only appears to be working for one of my Requestly rules.  When I attempt to use different Requestly rules that always work on Mac Chrome using the Requestly Chrome extension the same rules do not work when I disable the Chrome extension and instead use Requestly-0.0

[2021-10-20 09:42] sagarsoni7 commented on #141
@Anyclip - I am trying to resolve that CORS error, will get back to you real soon

[2021-10-24 14:53] mjbaldwin opened #142 "Sync Storage disabled?"
Hi, I'm trying out Requestly but use my browser aross machines. And when I go to "storage settings" to try to switch from "local storage" to "sync storage", I get a message:

Sync is an absolute requirement for me. Is sync enabled for the paid plans? Is it disabled just for a few days, or has it been disabled for years? Is there an ETA for when it will come back?

It would be great if the docs cou

[2021-10-26 07:09] sdfr19-8rhqeufbnqnef opened #143 "Redirect - Equals, Regex, Wildcard does not work on Chrome"
Hi,

The redirect feature of requestly only works for 'contains'. It does not work for equals or either of the matches.

I am trying to redirect youtube.com to https://www.youtube.com/feed/subscriptions and even if you get this to work using the requestly contains rule, youtube for some reason will then say you are offline when trying to play a video.

[2021-11-01 22:14] kasparsiricenko opened #144 "Dark Mode"
Can't see in the dark a screen. It's all white. High pressure on eyes. Please add any dark mode

[2021-11-02 12:08] sdfr19-8rhqeufbnqnef commented on #143
Thank you. I have just sent $10.

I know it’s not going to change the world, but I really appreciate your help and I really appreciate your redirect extension which has allowed me to redirect Youtube.

Thanks again. 😊

Ben

From: Sagar Soni ***@***.***>
Sent: 26 October 2021 11:06
To: requestly/customer-support ***@***.***>
Cc: sdfr19-8rhqeufbnqnef ***@***.***>; Mention ***@***.***>
Subject: Re: [

[2021-11-02 12:32] theinfin8y commented on #143
@sdfr19-8rhqeufbnqnef Your feedback about Requestly is gold for us. Yes, It makes a whole lot of difference in our lives.  Thank you so much for being so kind!

Never hesitate to reach out to us anytime.

[2021-11-02 12:32] #143 closed

[2021-11-02 14:08] keul opened #145 "Block an URL: filter by HTTP method"
Currently "Block an URL" requestly configuration are limited to URL/HOST/PATH check, while it would be useful to add a filter based on HTTP method used.

A good example: if I block an URL for "http://myapp.com/foo/bar" it will also block CORS attempts (HTTP OPTIONS), while I'd like to block only HTTP POSTs.

[2021-11-04 07:34] #140 closed

[2021-11-05 22:58] earthgeek opened #146 "Can't install on OSX"
I don't see the option to get the certificate mentioned on the website. The documentation doesn't mention it. I'm a bit confused.

[2021-11-06 08:42] sagarsoni7 commented on #146
@earthgeek - Let's connect over a quick zoom call and I'll help you setup everything?

[Schedule on Calendly](https://calendly.com/requestly-enterprise/requestly-premium-support)

Alternatively, there are some screenshots on this page, can you please check if they are helpful to you?
[requestly.io/for-safari](https://requestly.io/for-safari/)

[2021-11-06 08:49] sagarsoni7 commented on #145
@keul - If you're using Requestly extension for Chrome, we have an option to add such a filter. Can you please check if it serves your purpose? Else we would explore

<img width="1080" alt="Screenshot 2021-11-06 at 2 15 59 PM" src="https://user-images.githubusercontent.com/29792913/140603791-e92267d2-0cba-40bc-b688-8716d778c372.png">
<img width="1080" alt="Screenshot 2021-11-06 at 2 17 34 PM" src=

[2021-11-06 08:50] sagarsoni7 commented on #144
@kasparsiricenko - Sure, we will keep you posted here

[2021-11-08 08:02] keul commented on #145
Wops! I totally missed the filter icons! 🤦

Thanks

[2021-11-08 08:02] #145 closed

[2021-11-09 05:57] theinfin8y commented on #145
Thanks @keul - Glad we could help. Would you like to join our Slack group for faster support?

[2021-11-09 09:46] dwiyatci commented on #133
comment_to_remove_stale

[2021-11-13 12:56] ArgonAlex opened #147 "aircanada.com breaks when Requestly is installed (even with 0 rules and no other configuration)"
Just having the Requestly extension enabled in Chrome causes aircanada.com to not load properly. As in much of the page content is clearly not loading and/or not interactive. Disabling the extension completely resolves the issue.

It looks like their website makes extensive use of a service worker. Does Requstly cause issues with that?

I can reproduce in Chrome on Mac and Windows devices.

[2021-11-13 14:49] theinfin8y commented on #146
Hey @earthgeek -- Did you get a chance to try out the steps? We'd love to come on a call and help you out.

[2021-11-13 15:00] theinfin8y commented on #147
Hey @ArgonAlex! Thanks for logging this issue. I acknowledge this issue and I am able to reproduce this. Started investigating, will keep you posted here.

[2021-11-13 18:08] sagarsoni7 commented on #147
@ArgonAlex While we look into this issue, you can try our [desktop app](https://requestly.io/desktop/) and open chrome from there. aircanada.com is loading fine

[2021-11-14 12:28] theinfin8y commented on #147
Hey @ArgonAlex

We have made the changes in the codebase. It will require us to release the latest build on chrome store. We will upload it tomorrow and let you know it is approved and available in chrome store.

[2021-11-16 06:37] theinfin8y opened #148 "Delay Rule is not available in Edge browser, working fine in Chrome"

[2021-11-16 07:03] theinfin8y commented on #147
@ArgonAlex We have uploaded the latest build in Chrome Store & Edge Store. It is pending for review from their side. Once Google & Microsoft team approves, it will be available for general public. I will keep you posted here.

[2021-11-16 07:07] #148 closed

[2021-11-16 15:19] theinfin8y commented on #147
Hey @ArgonAlex The latest version is available in Chrome Store. This should be fixed for you now. Can u please try again and let me know if this works for you.

[2021-11-16 15:55] israelboudoux opened #149 "Replace String rule isn't working"
I have an application that requires some rewriting rules on the server side. When I use Requestly for doing these redirects, it doesn't work. Here they are the Request/Response:
=== Request...
POST /saml/acs HTTP/1.1
Host: localhost:8082
Connection: keep-alive
Content-Length: 6647
Cache-Control: max-age=0
Upgrade-Insecure-Requests: 1
Origin: ...
Content-Type: application/x-www-form-urlencoded
User

[2021-11-19 02:49] jonnywang opened #150 "how to modify http request header by myself js code"
how to modify http request header by myself js code like modify http response using js

[2021-11-19 15:37] theinfin8y commented on #147
Hey @ArgonAlex The latest version is available in Microsoft Edge too & other places. Can you please confirm if the issue is resolved for you. We'd close the ticket then.

[2021-11-19 15:41] theinfin8y commented on #149
Hey @israelboudoux, This could be happening because of 307 Internal redirects. Please allow us a couple of days to play around with such a setup and get back to you with a possible solution.

[2021-11-19 15:42] theinfin8y commented on #150
@jonnywang You can modify request header using modify headers rule - https://requestly.io/features/modify-request-response-headers

I guess you are trying to modify using JS. Can you please explain your use case so that we can figure out a possible solution.

[2021-11-19 21:11] ArgonAlex commented on #147
Thanks for fixing quickly and providing detailed updates! It looks good now.

[2021-11-19 21:11] #147 closed

[2021-11-20 06:25] theinfin8y commented on #147
Thanks @ArgonAlex for the response. Glad I could help. Can I request you to rate us on Chrome Store - https://chrome.google.com/webstore/detail/requestly-modify-headers/mdnleldcmiljblolnjhpnblkcekpdkpa

[2021-11-21 07:33] #141 closed

[2021-11-23 03:18] jonnywang commented on #150
Yes, I want to modify using js code to change request header like referer、user-agent

and Is there a way to define a proxy pac function before send match request ?

Thanks for your reply!

[2021-11-24 08:59] kasparsiricenko opened #151 "Subscription on Dark Mode"
I don't see myself as a user of this app anymore... You don't treat users as human
fellow developers

![image](https://user-images.githubusercontent.com/64709398/143206069-da510129-5f18-4c99-9081-82e0f238f37a.png)

[2021-11-24 09:50] sagarsoni7 commented on #151
hey @kasparsiricenko thank you so much for taking the time to bring this issue to us. We released dark mode just a few hours ago and it was supposed to be free. Let me check with my team

[2021-11-24 09:54] sagarsoni7 commented on #151
Sorry that you went through this experience, it's a bug that caught us off guard. Would be resolved in a few minutes

[2021-11-24 10:21] theinfin8y commented on #150
Thanks @jonnywang. We are considering to pick this up as feature request. Already added in our roadmap. Will keep you posted here.

[2021-12-05 08:04] dwiyatci commented on #133
comment_to_remove_stale

[2021-12-07 07:35] #144 closed

[2021-12-12 12:35] nafees87n opened #152 "Favorite status of rules gets set to false"

[2021-12-14 12:31] sachinjain024 commented on #152
We made a commit a couple of weeks back due to which the favorite information has been reset in the rules. Apologies for the mistake. We had fixed the issue a couple of days back.

Closing this issue now.

[2021-12-14 12:31] #152 closed

[2021-12-14 13:00] sachinjain024 commented on #142
Hey, @mjbaldwin Thank you so much for waiting for so long. Sync feature has been implemented now. We are just doing extensive testing right now within the team. Should be available really soon (less than a week).

cc - @sagarsoni7

[2021-12-14 13:01] sachinjain024 opened #153 "Import Rule button keeps on reloading"
When a user is opening a sharedList, the import rule button keeps on reloading.

[2021-12-15 07:34] #146 closed

[2021-12-15 17:06] israelboudoux commented on #149
Hey @theinfin8y, any news about that issue?

[2021-12-15 17:11] sachinjain024 commented on #149
Hey, @israelboudoux Thanks for the reminder. I will try to create a setup to reproduce this and see what we can do here. I doubt Chrome Extension can intercept 307 Internal redirects but this should be solvable with our desktop app. I will try out both tomorrow and let you know. Apologies for the delay from our side.

[2021-12-16 13:29] israelboudoux commented on #149
nw @sachinjain024, I have a question: does your desktop app is able to intercept the request/response from the browsers like the plugin does?

[2021-12-16 13:55] sachinjain024 commented on #128
Reopening this as we are starting to work on this now.

[2021-12-17 08:57] nafees87n commented on #149
@israelboudoux I recreated this issue using a mock API which does a 307 redirect to `https://yyy-xxx-master.eks-dev.xxxxx.www.dev.e-comm/wapi/waars/internal/authenticated-masquerade` and created this requestly replace rule which replaces domain with my `localhost` same as done by you.

Here's the rule [https://app.requestly.io/rules/#sharedList/1639730461193-307-redirect](https://app.requestly.io/

[2021-12-17 08:57] nafees87n commented on #149
Yes

[2021-12-26 07:34] #151 closed

[2021-12-26 07:34] #150 closed

[2021-12-30 15:06] SankhaChak opened #164 "Showing invalid date in Execution Logs table"
<img width="800" alt="screenshot-2021-12-30-at-10173_1md21i8" src="https://user-images.githubusercontent.com/16779465/147765172-3a412e8d-f639-4984-b27d-61d2aef588f0.png">

[2022-01-01 07:55] sachinjain024 commented on #133
Hey, @dwiyatci Thank you so much for the patience to wait on this. We will start investigating this now. cc - @sahil865gupta

[2022-01-01 08:24] sachinjain024 commented on #133
@dwiyatci Which library are you using for making the requests from the browser? Is it something like Axios or using fetch/XHR directly?

[2022-01-01 09:25] dwiyatci commented on #133
@sachinjain024 Happy new year! 🥳  I'm using cross-fetch (https://github.com/lquixada/cross-fetch/) 😀

[2022-01-01 09:27] sachinjain024 commented on #133
@dwiyatci I have DMed you on Twitter. Kindly check there.

[2022-01-04 07:43] sachinjain024 commented on #133
This feature request is being discussed on our community slack with other users who also requested graphql query-based targeting.

Here is the invite to join our community slack - https://join.slack.com/t/requestlycommunity/shared_invite/zt-113lursq9-2TI4bXLhkdNPEpTUJBprIA

@dwiyatci Can you please join that too so that we can have a productive discussion with all stake holders.

[2022-01-04 08:02] wrongsahil opened #165 "Sources not detected in Desktop App"

[2022-01-04 11:51] sachinjain024 opened #166 "Response Headers are not being passed with 302 Redirect"
When we open https://work.8x8.com there's a series of 3xx redirects, but we get an empty page because the response headers are missing.

[2022-01-04 13:38] sahil865gupta commented on #166
Response Headers was not getting passed from Requestly to Browser in some cases. This was introduced in v0.0.21-beta when we released `Response Status Code Modification` Feature.

This is fixed in v0.0.22-beta
https://github.com/requestly/requestly/releases/download/v0.0.22-beta/Requestly-0.0.22-beta.dmg

[2022-01-05 23:42] dwiyatci commented on #133
Hey, just got back here. Been busy with work and my private life since the new year. Sorry! I'll try to join your community Slack tomorrow or the day after tomorrow. Maybe? 😬🤷🏻‍♂️

Wrt the website I was testing, it was a private corpo project, but I believe we can always use something like https://api.graphqlplaceholder.com/ or https://graphqlzero.almansi.me/ for testing purpose.

Simply open the

[2022-01-06 15:52] sachinjain024 commented on #133
Thanks for sharing this info @dwiyatci -- See you on slack!

[2022-01-07 11:01] sachinjain024 opened #167 "Modify Response Rule is not working on fetch requests on airbnb.com"
While building the support for graphql (payload targeting as part of #133 -- I found that Modify Response rule is not working properly on airbnb.com. I used https://graphql.org/users/ to find out a couple of websites for trying out the local changes.

Upon Investigation, I found that fetch requests are being intercepted correctly but targeting and modifying methods are not getting invoked.

[2022-01-07 13:32] sachinjain024 commented on #167
This issue has been fixed and pushed to master. Will be released along with #133 - support for graphQL.

[2022-01-08 06:00] wrongsahil opened #168 "Auto Proxy Configuration messing with Requestly Proxy"
<img width="655" alt="Screenshot 2022-01-08 at 11 28 59 AM" src="https://user-images.githubusercontent.com/16779465/148633462-fd34f472-6046-4a9a-b88a-478d0e94d10c.png">

[2022-01-12 09:41] sachinjain024 commented on #166
@sahil865gupta I guess this bug has been fixed and app has been released too?

[2022-01-12 09:43] sachinjain024 commented on #164
This is happening for the ModifyResponse rule. I will also check for the Script rule, a similar issue might be there.

[2022-01-12 09:45] sachinjain024 commented on #149
@israelboudoux -- Did you get a chance to try out our desktop app? Here's a simple demo if you want to have a look before trying it out - https://www.youtube.com/watch?v=cqJcR-RcNXg

You can see we have an Apps section from which you can trigger Chrome (or any other browser installed on your machine). Then you will be able to see the traffic from that browser and apply the modification rules too.

[2022-01-12 09:47] sachinjain024 commented on #133
Implementation has been done for this feature. We are doing a couple of other fixes before rolling this out in Chrome Store.

[2022-01-12 10:10] sahil865gupta commented on #166
Yep this is released already.

[2022-01-12 10:12] sachinjain024 opened #169 "MockServer is down"
Getting CORS Issues while fetching the mocks for user.

[2022-01-12 11:35] sagarsoni7 commented on #169
This was caused by Firebase outage. Has been resolved now.

[2022-01-12 11:35] #169 closed

[2022-01-12 11:42] #166 closed

[2022-01-12 14:47] wrongsahil opened #170 "Proxy cleanup on App shutdown"
Expected behaviour
- System wide proxy should be removed on app shutdown

[2022-01-13 09:02] israelboudoux commented on #149
Hey @sachinjain024,
Actually, I have it installed. I'll try your suggestion.

Thank you!

[2022-01-13 19:27] sahil865gupta opened #171 "Safari mixed content issue in desktop app"
If script included in a page loaded over https are redirected to a http url. Then safari blocks that request due to mixed content.
https://developer.mozilla.org/en-US/docs/Web/Security/Mixed_content

[2022-01-14 07:35] #153 closed

[2022-01-15 05:47] sahil865gupta commented on #171
Fixed in [v0.0.26-beta ](https://github.com/requestly/requestly/releases/tag/v0.0.26-beta)

[2022-01-17 07:36] #128 closed

[2022-01-17 20:32] payne-shaun opened #172 "Migrate to Requestly from Resource Override"
Hey Requestly team!

I have been using Resource Override for a long time. I recently got a chance to check out Requestly and I really liked it. It has a sleek UI and a lot more features than what Resource Override offered...

I want to migrate to Requestly but I face an issue. I have created many rules on Resource Override and I don’t know how to get them on Requestly. I am even willing to pay and

[2022-01-18 05:47] #171 closed

[2022-01-18 05:48] sahil865gupta commented on #172
Hey @payne-shaun. We are glad to know that you liked Requestly.

We would love to help you set up your rules. Can you create a [sharedlist](https://docs.requestly.io/managing-rules/sharing) for all your rules and share it with us. We can have a quick look and tell you what's wrong with them.

P.S: You can also join our slack community too for faster communication 😉
https://bit.ly/requestly-slack

[2022-01-18 07:27] sachinjain024 commented on #133
The extension has been submitted to Chrome Store and Edge Store for review. Release version 22.1.18

[2022-01-18 07:29] sachinjain024 commented on #167
The extension has been submitted to Chrome Store and Edge Store for review. Release version 22.1.18

[2022-01-18 07:56] payne-shaun commented on #172
Thanks for responding

I am joining slack, will carry on the conversation there.

[2022-01-18 07:56] #172 closed

[2022-01-18 10:54] dwiyatci commented on #133
Thanks, very much, for the effort! I'll give it a spin once it's published in the Chrome Store. A small clarification: this new release contains only the first feature I requested, but still not the second yet, correct?

And just out of curiosity: is there even an API exposed by Chrome for a Chrome extension to modify the request payload before it's being sent? If there isn't any, then the second

[2022-01-18 11:28] sachinjain024 commented on #133
@dwiyatci -- You are right, it contains the first part of your request. Chrome doesn't provide APIs to modify the response even. We basically override the fetch and XHR object prototypes and write our custom implementation. It is very tricky to make It work for all websites and all cases. Still, the Modify Response works nicely.

Modify Request Data is also possible but honestly, that's a hell of

[2022-01-19 06:28] vineetathome opened #173 "How to use traffic tab in macOS app"
Can the documentation be updated with steps on how to capture traffic.

Also it will be good idea to update all the tabs and their purpose in the beginning itself.

[2022-01-19 06:35] vineetathome opened #174 "When I click on apps (on Requestly macOS app) it takes a while to load the apps"
A few problems

1). Its hard to understand what apps represent.
2). Safari will be available in all the macOC devices. It should not take much time to paint it
3). Everywhere is not a good name
4). Android makes less sense under available apps on macOS.

Unavailable - why do we show that
What does coming soon signify ? do we need to show it. Or capturing that in documentation would be better for n

[2022-01-19 22:27] vineetathome opened #175 "Settings and account settings"
What is the purposed of having a settings tab and then account settings inside account. I think they should be collapsed into 1.

[2022-01-19 22:28] sagarsoni7 commented on #175
Hi @vineetathome  - Thanks for your feedback. We're working on it.

[2022-01-19 22:29] vineetathome opened #176 "Choose Persona"
Is there a need for choose persona on account settings. In any case. when you choose it you have to
1). choose from the dropdown
2). then click elsewhere on the screen for the choice to be selected.

Ideally choose should be done in single click (that is if it is important to have)

[2022-01-19 22:32] sagarsoni7 commented on #176
@vineetathome - Hmm that makes sense. We will improve it eventually.

It isn’t used much though.

[2022-01-19 22:39] vineetathome commented on #176
then I would say hide it.

[2022-01-19 22:40] vineetathome opened #177 "Wrong link on read docs in mock server tab"
If you click on read docs in mock server tab, you are taken to https://docs.requestly.io/library/introduction-to-library

[2022-01-21 12:43] #167 closed

[2022-01-21 12:44] sachinjain024 commented on #133
@dwiyatci I am closing this issue for now. We don't have immediate plans to allow modifying request body, I will open a separate one for that.

[2022-01-21 12:44] #133 closed

[2022-01-21 18:15] joepk90 opened #178 "Modifying Response Headers Not Working (OSX/Chrome)"
If this issue has been raised in the wrong repository, please let me know.

Using the Chrome Extension on OSX, modifying (adding, deleting, modifying) the Response Headers don't seem to be working.

I am able to Modify the Request Headers fine though.

This has been tested across two Macbooks.

[2022-01-21 19:25] sahil865gupta commented on #178
Hey @joepk90. Thanks for letting us know about this.
I am able to reproduce this on my system too. Let us debug this. We will try to fix this as soon as possible.

[2022-01-21 21:30] dwiyatci commented on #133
Sure, it's fair enough. I understand the situation – modifying request body is quite a different game. While modifying response is pretty much the same as having a mock server (for the client), modifying request is like having a mock client (for the server), which I imagine its gonna be mega if Requestly could cover both sides in the future. 😃  All the best of luck with the roadmap ahead! ✨🏞

[2022-01-24 04:32] vv211 opened #179 "i'm at two rules, when i try to create a new rule it says i'm limited to 3 and won't let me"
really just what the title says. i'm getting the error that i'm limited to a max of 3 rules on a free account and requestly won't let me create another one, but i only have 2 rules

[2022-01-24 07:17] sachinjain024 commented on #179
Hey @vv211 Can you please share a screenshot with us and we'd take a look at it?

[2022-01-24 10:31] joepk90 commented on #178
It actually looks like this is due to a bug in Chrome - here is the ticket:
https://bugs.chromium.org/p/chromium/issues/detail?id=258064

[2022-01-24 11:16] wrongsahil opened #180 "Signin not working with system side proxy"
https://www.dropbox.com/s/9t4fzb9dpcp88hv/Request%20login%20via%20Google.mp4?dl=0

Temp Fix:
- Disable System wide proxy
- Then try again
- If still doesn't work, then try reloading with cache disabled

[2022-01-25 03:08] vv211 commented on #179
![2022-01-23 22_58_34-My Rules](https://user-images.githubusercontent.com/9099977/150903644-b5672e79-1d9e-424e-8485-c2f65463a16d.png)

[2022-01-25 10:26] Shathath opened #181 "Enable button not working"
Enabling the rules from inside using switch button is not enabling the rules

[2022-01-25 11:26] sagarsoni7 commented on #181
Thanks Shathath for logging this issue. Right now it requires the rule to be saved after toggling it.

We'll soon improve this experience

[2022-01-25 11:49] sagarsoni7 commented on #181
Hi @Shathath - Can you please check now?

If it still doesn't work, maybe the Rule isn't matching. Can you please share the Rule here? (You can select the Rule in dashboard and click the Share icon, it will generate a link)

[2022-01-25 18:05] nafees87n commented on #179
@vv211 Can you please share the email id you are using with requestly so that I can activate premium on your account? With premium account you can continue your work meanwhile, we'd take a look at this issue

[2022-01-27 05:57] vineetathome opened #182 "Upgrade experience"
I upgraded to the latest build today

1). New version available. Click here to upgrade. Ideally the cursor should change from pointer to hand. It does not. Clicking on it sure asks for restart message
2). The restart message shows. 'Are you sure you want to quit requestly' or something. It should tell say that, Confirm to upgrade and restart.

[2022-01-27 05:58] vineetathome opened #183 "Export and import system rules"
Ideally save to directory and recover from directory (on filesystem)

[2022-01-27 06:06] vineetathome opened #184 "Folder on HTTP Rules Screen"
Should you give the ability for segregating rules in folders. You should see how the mocks looks.
What is the idea of marketplace ? do you sell rules there ? Or what is the intent ?

[2022-01-27 06:31] wrongsahil commented on #182
Yeah makes sense
1. Added a pointer to the update dialog. Will get reflected from now on.
2. I have to check whether this is possible or not. If yes, I'll change that too

[2022-01-27 06:43] wrongsahil commented on #184
We do give the ability to segregate rules in folders. We call it groups though. Here's a doc for explaining how they work (https://requestly.io/blog/manage-rules-using-groups-in-requestly/)

Marketplace contains all the commonly used rules. We are renaming this to `Library` as our intent is not to sell from here.  But to make users use the most common rules more easily from here.

[2022-01-27 06:51] vineetathome commented on #184
Cant upload the screenshot. But can you send me where to create the rules from on the Mac app ?

[2022-01-27 06:54] wrongsahil commented on #184
@vineetathome You can create a new rule by going to `HTTP RULES` tab and then click on `New Rule` Button to create a rule

[2022-01-27 06:56] vineetathome commented on #184
sorry wrong question.  I wanted to ask how to create a group and then a rule in that group ?

[2022-01-27 07:04] wrongsahil commented on #184
First create a group by clicking on `New Group` Button on Rules Page
![Screenshot 2022-01-27 at 12 28 26 PM](https://user-images.githubusercontent.com/16779465/151307713-f4244ee0-b80f-4c6f-9cf0-9f8bf5f80466.png)

Then select the Group from this dropdown while creating a new rule.
![Screenshot 2022-01-27 at 12 28 05 PM](https://user-images.githubusercontent.com/16779465/151307819-e52b7bca-9f54-4ef2

[2022-01-27 23:24] vineetathome opened #185 "Clicking in read docs adjacent to mock server takes me to https://docs.requestly.io/library/introduction-to-library"
It should take to information about mock server. how to set it up, what is the purpose of it, what it can do and what it cant do

[2022-02-04 07:33] #165 closed

[2022-02-04 07:45] wrongsahil commented on #170
Fixed in [v0.0.31-beta](https://github.com/requestly/requestly/releases/tag/v0.0.31-beta)

[2022-02-04 07:45] #170 closed

[2022-02-07 07:32] #168 closed

[2022-02-09 13:20] israelboudoux commented on #149
Hey guys, I was able to complete the request/response flow using the Desktop app.
Thank you!

[2022-02-09 13:20] #149 closed

[2022-02-09 18:50] nsrCodes opened #190 "Replace String, Query Params and Redirect Rule sometimes give CORS error when modifying POST requests"
Happens on selected sites, like if we use a replace string rule to modify the query params on amazon prime video

[2022-02-09 23:16] #184 closed

[2022-02-09 23:17] vineetathome commented on #182
@wrongsahil I did check that now we have a pointer. Did you do the second one ?

[2022-02-10 07:37] #142 closed

[2022-02-10 08:26] sachinjain024 commented on #149
Thank you so much @israelboudoux for letting us know that your problem was solved using the desktop app. Could you please help us with a review here - https://chrome.google.com/webstore/detail/requestly-modify-headers/mdnleldcmiljblolnjhpnblkcekpdkpa

[2022-02-10 14:08] wrongsahil commented on #182
@vineetathome Yes. It is possible. I'll push this is next release

[2022-02-13 07:32] #164 closed

[2022-02-15 06:24] prashantbazaarvoice opened #191 "Issue with Saving the rule"
I am using free version of requestly and have created only 3 rules in a but still when I am trying to save its throwing me a popup warning by stating I have already reached 3 rules I am though I am trying to delete but still its throwing the same error

[2022-02-15 06:44] sachinjain024 commented on #191
Thank you @prashantbazaarvoice for raising this issue. I have temporarily activated the basic plan on your account so that you get unlocked and use the product. We will check this on priority.

[2022-02-17 09:53] #190 closed

[2022-02-17 18:44] wrongsahil opened #192 "Requestly Desktop App doesn't work with VPN"

[2022-02-18 07:33] #174 closed

[2022-02-18 07:33] #173 closed

[2022-02-20 07:32] #177 closed

[2022-02-20 07:32] #176 closed

[2022-02-20 07:32] #175 closed

[2022-02-23 17:15] PratikRay2 opened #193 "Bug"
I have purchased a premium plan but still, I am not able to save any rules. Kindly resolve this issue asap.

[2022-02-23 17:35] sagarsoni7 commented on #193
@PratikRay2 - I see multiple attempts were made to subscribe to the plan that caused this issue. Can you please refresh the page and see if issue still persists?

[2022-03-04 01:52] sachinjain024 commented on #193
Hey, @PratikRay2 Are you still facing this issue?

[2022-03-04 02:04] PratikRay2 commented on #193
No, I am not facing this issue anymore.

Thanks
Pratik Ray
On Thu, Mar 3, 2022 at 5:52 PM Sachin Jain ***@***.***> wrote:

[2022-03-05 12:25] iustin24 opened #195 "Append URL Fragment on all urls"
Hi,

Is it possible to use Requestly to append a URL fragment at the end of all urls?

I tried:

Replace: $ (regex operator)
With: #test

However, Requestly does not seem to support regex for the `replace` field, making it impossible to append a string to all urls.

[2022-03-06 09:29] alonhartman opened #196 "'Pick from mock server' shows duplicate mock files"
Hi,
I'm using the free version, and I have 3 mock files. Whenever I open the 'Pick from mock server' in the rule, I see duplications of the existing files with different 'Last updated' dates.
You can see it more in the attached video.

Thanks,
Alon.

https://user-images.githubusercontent.com/11316700/156917266-e90f6d4d-e749-4a99-a6bb-debe74733378.mp4

[2022-03-06 10:01] sagarsoni7 commented on #196
Thanks for bringing this issue to our notice @alonhartman, the video is indeed helpful.
We'll fix this really soon

[2022-03-18 17:46] glindy89 opened #197 "Cannot access previously created rules"
Recently upgraded account and can no longer access the HTTP rules I previously created. HTTP Rules landing page prompts to "create first rule," and only new rules appear. I downloaded the desktop app for Mac and want to export/import my old rules but am unable to access them.

[2022-03-18 20:16] sagarsoni7 commented on #197
@glindy89 - Can you please visit this page and click the Send button? - [https://app.requestly.io/send-debug-report](https://app.requestly.io/send-debug-report)

[2022-03-28 08:47] wrongsahil opened #198 "Response Modification Rule failing on mudah.my"
Response Rule breaking on Extension and Desktop App

### Steps to Reproduce
- Go to https://www.mudah.my/ECU+Mercedes+Benz+Repair+272+ME9+7-83077644.htm (any listing on https://www.mudah.my/list?nf=1)
- Now click on `Next Ad` <img width="1309" alt="Screenshot 2022-03-28 at 2 10 39 PM" src="https://user-images.githubusercontent.com/16779465/160360316-979d1142-239d-4b27-a622-26ad2a9f1910.png">
- Thi

[2022-03-29 15:36] sterling-api opened #199 "Requestly Makes Me Delete Chrome Cookies After Every Test/Request"
hi.  I am testing a software but Chrome makes me clear my cookies after every test/request.  "Deactivate Requestly" does not resolve the issue.  I have tried uninstalling and reinstalling but this did not work either.  When I refresh the page while Requestly is deactivated, Chrome gives me the message (name of website) edirected you too many times.
[Try clearing your cookies]
ERR_TOO_MANY_REDIRECT

[2022-03-29 15:51] sachinjain024 commented on #199
I'd love to get more details on the rule and how to reproduce. If this is something you can't share, please shoot an email to contact@requestly.io

[2022-03-29 15:59] Sterlz-API commented on #199
I sent an email to the email provided.  Thank you.

[2022-04-02 05:57] lazyvab commented on #198
Raised PR: https://github.com/requestly/requestly-master/pull/1216

[2022-04-02 12:15] lazyvab commented on #198
<img width="1431" alt="fixed" src="https://user-images.githubusercontent.com/6367566/161382673-ed3d6009-bd12-4269-bc18-556e73ebb7de.png">
<img width="1370" alt="rule" src="https://user-images.githubusercontent.com/6367566/161382707-2bba0cff-a679-4fdc-9f35-349e848e9646.png">

[2022-04-12 11:54] svenkost opened #200 "Default proxy port can't be changed"
I need to be able to change the default port from 8080 to another port, because 8080 is already used by an application and that can't be changed.

I can't find any option to change the port.

[2022-05-15 01:42] AshHasThickFlaps opened #201 "im using this to get Comedy World on Vyond"
## Summary

Im watching tutorials and they all use the 2018 version, on 2022 version where is Replace Host?

[2022-05-15 01:51] sagarsoni7 commented on #201
@AshHasThickFlaps - Sorry we don't encourage using Requestly with apps like Vyond so you would have to explore yourself. Replace Host is now called Replace String though.

[2022-05-15 01:51] #201 closed

[2022-05-15 01:59] AshHasThickFlaps commented on #201
ok, idk, the only other way I can find is with node, thank you.

[2022-05-15 17:01] manjulalog opened #202 "Redirect request pattern with request params values"
I need to write a rule for following requirement.

Request : https://abc.com/uiservice/course/pair/77e4129f-49fc-4a1c-a1e9-81c3756c27c1

Should redirect to : https://cde.com/uiservice/course/pair/77e4129f-49fc-4a1c-a1e9-81c3756c27c1

Note : 77e4129f-49fc-4a1c-a1e9-81c3756c27c1 is dynamic value

[2022-05-15 17:07] sachinjain024 commented on #202
@manjulalog There are two ways to do this.

You can try the Redirect Rule like this
Request URL --> Matches WildCard --> https://abc.com/uiservice/course/pair/*
Destination --> https://cde.com/uiservice/course/pair/$1

You can use a Replace String Rule like this
Replace https://abc.com/uiservice/course/pair
With https://cde.com/uiservice/course/pair

once you create the rule, you can use the Test

[2022-05-18 15:03] Harrybdo opened #203 "Remove Console Log Statement With Every Page Load"
Hi, I think there was a plugin update recently and now on every single page load where a rule is applied, I am seeing a console log statement that says,

"Requestly Applied some rules on this page. You may enable logging in console from: https://app.requestly.io/settings"

How can I disable this? It is annoying to see on every page load. I am a developer and need the console as clean as possible.

[2022-05-19 12:32] sachinjain024 opened #204 "Couldn't verify email"
## Expected Behavior

Verification email not working properly.

## Current Behavior

![image](https://user-images.githubusercontent.com/3108399/169292442-2fdc225a-1f05-4744-b035-245535d86926.png)